.video-wrapper {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
    padding-bottom: 1.4rem;
    margin: 0 auto;
    max-width: 920px;
    height: 32rem;
    position: relative; 
    z-index: 10;
    background-position: center;
    background-size: cover
  }
  
  .video-text {
    padding-top: 1.1em;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: lighter;
    color: #333333;
    letter-spacing: 0.7px;
  }
  .open-video {
    left: calc(50% - 95px);
    cursor: pointer;
  }

  .content-video {
    
    padding-bottom: 56%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 56%;
    object-fit: cover;
    background-size: cover;
    
  }
  