doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- google font roboto
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')

        //- google fonts roboto Condensed
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap' rel='stylesheet')

        //- link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")

        title  Чукотка podcast-select
        
    body

        include mixin
        include podcast-select


        script(src="js/script.js")