section.podcast-select

    .podcast-select-wrapper
        
        .podcast-select-content
            
            .podcast-select-content__name
                a(href="#") подкасты
                span 20.04.2019 
                span 13:35

            .podcast-select-content__title
                span Чего точно не стоит делать, если у вас проблемы с финансами

            
            p Искать лёгкий способ заработка, брать микрозаём или кредит — первое, что приходит в голову, когда сталкиваешь с безденежьем. Но эти идеи не всегда могут спасти от проблем

            .podcast-select-content__audio
                img(src="images/podcast-img.png", alt="audio")

            .podcast-select-content__text
                p В подкасте "Семейный подряд" предприниматели честно рассказывают о своем бизнесе. Раз в неделю журналист Юлия Ермилова и ее папа, бизнесмен Сергей Ермилов, встречаются с предпринимателями и спрашивают, как свое дело изменило их жизнь и их самих. 
                
                p Гость этого выпуска - 16-летняя Алена Аракчеева, самый молодой кондитер IV разряда в России. Тортами и пирожными она занялась, чтобы справиться с депрессией: травмы, полученные в большом теннисе, перечеркнули ее карьеру в спорте. Свой первый заказ Алена получила от знакомых, а за последние два с лишним года заработала порядка 2 млн рублей. Как вырастить увлечение в полноценный бизнес? Может ли подросток стать успешным предпринимателем? И как совмещать бизнес с ЕГЭ и обычной жизнью?

            ul.podcast-select-content__tag-list
                li
                    a(href="#") Чукотка
                li
                    a(href="#") Белый медведь
                li
                    a(href="#") WWF России
                li
                    a(href="#") Животные

        .podcast-select__adv
            img(src="images/img-ad.png", alt="")
            