.header {
  background-color: #dbdbdb; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 65px;
    padding-bottom: 65px; }
  .header__logo {
    width: auto;
    height: 100%; }
  .header__contact {
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__feedback {
    margin-right: 0;
    margin-left: auto;
    margin-top: 10px;
    color: #757575;
    font-weight: 700;
    cursor: pointer; }
  .header__feedback:hover {
    color: #757575;
    text-decoration: none;
    border-bottom: dashed; }

@media (max-width: 767px) {
  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header__content img {
      margin-bottom: 20px; } }
.menu-up {
  width: 100%;
  height: 80px;
  background-color: #777777;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-up__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .menu-up__list li {
      font-size: 21px;
      padding: 0 11px;
      border-left: 1px solid #ffffff; }
    .menu-up__list li:first-child {
      border-left: none; }
    .menu-up__list li a {
      color: #ffffff;
      text-decoration: none; }
      .menu-up__list li a:hover {
        border-bottom: 1px solid #ffffff; }

.carousel {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.fas {
  font-size: 50px;
  color: #000000; }

a.carousel-control-prev,
a.carousel-control-next {
  background-color: #d0d0d0;
  width: 35px;
  height: 62px;
  top: calc(50% - 31px);
  margin-left: 128px;
  margin-right: 128px; }

.content {
  margin-top: 10px; }
  .content-line {
    width: 100%;
    height: 1px;
    background-color: #767676;
    margin-bottom: 29px; }
  .content-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    margin-bottom: 88px; }
    .content-text__left {
      margin-right: 46px; }

.menu a {
  color: #919191;
  font-size: 18px; }

.menu li {
  margin-bottom: 18px; }

.submenu {
  margin-left: 30px;
  list-style-type: disc;
  color: #919191; }

.submenu a {
  font-size: 15px; }

.submenu a:hover {
  color: #000000; }

.price-list {
  margin-top: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .price-list span {
    font-weight: 700;
    font-size: 24px; }

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .goods-card {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 250px;
    height: 380px;
    background-color: #dbdbdb;
    padding: 20px; }
    .goods-card__text {
      margin-top: 20px;
      font-size: 14px;
      color: #757575;
      font-weight: 700;
      margin-bottom: 55px; }
    .goods-card__price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 55px; }
      .goods-card__price-text {
        color: #464646;
        font-size: 26px;
        font-weight: 700; }

.number-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 67px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .number-page__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    font-size: 15px;
    color: #757575;
    cursor: pointer; }
    .number-page__item:hover {
      font-size: 20px;
      color: #454545; }

ul.menu-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px; }
  ul.menu-horizontal li {
    margin-left: 10px;
    color: #757575;
    font-size: 13px; }
    ul.menu-horizontal li a {
      color: #757575;
      border-bottom: 1px solid #757575;
      text-decoration: none; }
    ul.menu-horizontal li:last-child {
      border-bottom: none; }

footer {
  background-color: #767676;
  padding-top: 50px;
  padding-bottom: 53px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-contact {
    color: #ffffff;
    font-size: 15px;
    line-height: 20px; }
  .footer-menu li {
    margin-bottom: 13px; }
  .footer-menu a {
    color: #ffffff;
    border-bottom: 2px solid #b2b2b2;
    text-decoration: none;
    font-size: 13px; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4); }

.popup {
  position: fixed;
  left: 50%;
  top: 284px;
  width: 466px;
  padding: 35px 62px 26px 62px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff; }
  .popup-close {
    position: absolute;
    right: -28px;
    top: -28px;
    font-size: 30px;
    color: #ffffff;
    background-color: #777777;
    width: 28px;
    height: 28px;
    text-align: center;
    font-weight: 300;
    cursor: pointer; }
  .popup-title {
    margin-bottom: 35px;
    color: #545454;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase; }
  .popup-content {
    text-align: center; }
    .popup-content__text {
      margin-bottom: 8px;
      color: #545454;
      font-size: 13px;
      font-weight: 700; }
    .popup-content input {
      width: 100%;
      height: 42px;
      margin-bottom: 19px;
      border: 1px solid #c2c2c2; }
    .popup-content input:focus {
      outline: none;
      border: 1px solid #e48282;
      padding-left: 5px;
      -webkit-box-shadow: inset 0 0 5px 4px #e48282;
              box-shadow: inset 0 0 5px 4px #e48282; }
    .popup-content input::-webkit-input-placeholder {
      padding-left: 14px;
      color: #ffffff;
      font-size: 13px;
      font-style: oblique; }
    .popup-content input:-ms-input-placeholder {
      padding-left: 14px;
      color: #ffffff;
      font-size: 13px;
      font-style: oblique; }
    .popup-content input::-ms-input-placeholder {
      padding-left: 14px;
      color: #ffffff;
      font-size: 13px;
      font-style: oblique; }
    .popup-content input::placeholder {
      padding-left: 14px;
      color: #ffffff;
      font-size: 13px;
      font-style: oblique; }
    .popup-content input:focus::-webkit-input-placeholder {
      color: #e48282; }
    .popup-content input:focus:-ms-input-placeholder {
      color: #e48282; }
    .popup-content input:focus::-ms-input-placeholder {
      color: #e48282; }
    .popup-content input:focus::placeholder {
      color: #e48282; }
    .popup-content textarea {
      width: 100%;
      margin-bottom: 21px;
      border: 1px solid #c2c2c2;
      padding: 10px 5px; }
    .popup-content textarea:focus {
      outline: none;
      border: 1px solid #e48282;
      -webkit-box-shadow: inset 0 0 5px 4px #e48282;
              box-shadow: inset 0 0 5px 4px #e48282; }

.button {
  width: 128px;
  height: 42px;
  background-color: #545454;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }
