.container {
  width: 310px;
  margin: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.header {
  margin-top: 25px;
  margin-bottom: 5px;
}
.header-title {
  margin-bottom: 20px;
}
.header-title__text {
  display: inline-block;
  float: left;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 26px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.header-title__line {
  display: inline-block;
  float: right;
  width: 119px;
  height: 2px;
  background-color: black;
  margin-left: 14px;
  margin-top: 17px;
  top: 5px;
}
.header-date {
  position: relative;
  width: 310px;
  height: 202px;
  background: url('../images/320sprite.png');
  background-position: -10px -10px;
}
.header-date__box {
  position: relative;
  display: inline-block;
  top: 6px;
  left: 6px;
  font-family: 'NotoSerif';
  width: 80px;
  height: 53px;
  background-color: #ffffff;
  opacity: 0.8;
}
.header-date__box p {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 31px;
}
.header-date__box span {
  position: relative;
  font-size: 14px;
  top: -14px;
  left: 9px;
}
.header-date__arrow {
  display: none;
}
.advertising {
  display: none;
}
.content-320 {
  margin-bottom: 13px;
}
.content-320__top {
  margin-bottom: 4px;
}
.content-320__img {
  display: inline-block;
  width: 73px;
  height: 48px;
  margin-bottom: 3px;
  margin-right: 2px;
  background: url('../images/320sprite.png');
}
.content-320-teaser {
  width: 310px;
  height: 80px;
  margin-bottom: 10px;
}
.content-320-teaser__img {
  float: left;
  display: inline-block;
  background: url('../images/320sprite.png');
  background-position: -10px -232px;
  width: 100px;
  height: 80px;
}
.content-320-teaser__text {
  display: inline-block;
  float: right;
  font-family: 'NotoSans';
  background: #fbf6e8;
  width: 210px;
  height: 80px;
  background-color: #fbf6e8;
  padding-left: 19px;
}
.content-320-teaser__adv {
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #bebebe;
  margin-bottom: 3px;
  margin-top: 8px;
}
.content-320-teaser__title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 2px;
}
.content-320-teaser__subtitle {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 9px;
  line-height: 15px;
}
.date-320 {
  display: inline-block;
  font-family: 'NotoSerif';
  position: relative;
  padding-top: 19px;
  background: none;
}
.number-320-one {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  top: -13px;
  left: 27px;
}
.number-320-two {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  top: -13px;
  left: 25px;
}
.mounth-320-one {
  position: relative;
  font-size: 14px;
  top: -11px;
  left: 5px;
}
.mounth-320-two {
  position: relative;
  font-size: 14px;
  top: -11px;
  left: 3px;
}
.arrow-320-one {
  display: inline-block;
  position: relative;
  background: url('../images/320sprite.png');
  background-position: -340px -146px;
  width: 3px;
  height: 5px;
  top: -32px;
  left: -5px;
}
.arrow-320-two {
  display: inline-block;
  position: relative;
  background: url('../images/320sprite.png');
  background-position: -340px -146px;
  width: 3px;
  height: 5px;
  top: -32px;
  left: -7px;
}
.img320__one {
  background-position: -130px -232px;
}
.img320__two {
  background-position: -223px -232px;
}
.img320__three {
  background-position: -340px -10px;
}
.img320__four {
  background-position: -340px -78px;
}
.right {
  margin-right: 0;
}
.content-480 {
  display: none;
}
.content-768 {
  display: none;
}
.footer-nav {
  width: 100%;
  font-family: 'NotoSans';
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 2px;
}
.footer-nav__pages {
  display: none;
}
.footer-nav__next {
  display: inline-block;
  padding-left: 10px;
}
.footer-nav__next:hover {
  font-family: 'NotoSans-Bold';
}
.pages {
  display: inline-block;
}
.pages-number {
  display: inline-block;
}
.pages-number__one {
  width: 34px;
  height: 34px;
  display: inline-block;
  padding-left: 12px;
  padding-top: 8px;
}
.pages-number__two {
  width: 34px;
  height: 34px;
  display: inline-block;
  padding-left: 9px;
  padding-top: 8px;
}
.pages-number__three {
  width: 34px;
  height: 34px;
  display: inline-block;
  padding-left: 6px;
  padding-top: 8px;
}
.pages-number__four {
  width: 34px;
  height: 34px;
  display: inline-block;
  padding-left: 3px;
  padding-top: 8px;
}
.hover:hover {
  background-color: #e6e6e6;
  border-radius: 17px;
  font-family: 'NotoSans-Bold';
}
a {
  text-decoration: none;
  color: #000000;
}
