.container {
  width: 700px;
  margin: auto;
}
.header {
  margin-top: 25px;
  margin-bottom: 13px;
}
.header-title__text {
  margin-left: -1px;
}
.header-title__line {
  margin-top: 25px;
  height: 2px;
  width: 420px;
}
.header-date {
  background: url('../images/768sprite.png');
  background-position: -10px -10px;
  width: 700px;
  height: 455px;
}
.header-date__box {
  top: 20px;
  left: 20px;
  width: 160px;
  height: 104px;
}
.header-date__box p {
  top: 12px;
  left: 28px;
  width: 100%;
  font-size: 36px;
}
.header-date__box span {
  font-size: 18px;
  top: -1px;
  left: 38px;
}
.header-date__arrow {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 5px;
  top: -16px;
  left: -7px;
  background: url('../images/768sprite.png');
  background-position: -910px -754px;
}
.advertising {
  display: block;
  margin-bottom: 16px;
}
.advertising__text {
  font-family: 'NotoSans';
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 2px;
}
.advertising__info {
  margin-left: -1px;
  color: #acacac;
  font-weight: 400;
  font-size: 15px;
}
.content-320 {
  display: none;
}
.content-480 {
  display: none;
}
.content-768 {
  display: block;
}
.content-768__top {
  display: inline-block;
  width: 700px;
  height: 248px;
  margin-bottom: -3px;
}
.content-768__top-images {
  display: inline-block;
  float: left;
  width: 520px;
}
.content-768__adv {
  display: inline-block;
  float: right;
  width: 160px;
  height: 221px;
  background: url('../images/768sprite.png');
}
.content-768__block2 {
  height: 242px;
}
.content-768__img {
  display: inline-block;
  width: 160px;
  height: 104px;
  margin-right: 16px;
  margin-bottom: 17px;
  background: url('../images/768sprite.png');
}
.img-768-one {
  background-position: -550px -485px;
}
.img-768-two {
  background-position: -730px -725px;
}
.img-768-three {
  background-position: -730px -10px;
}
.img-768-four {
  background-position: -730px -134px;
}
.img-768-five {
  background-position: -730px -258px;
}
.img-768-six {
  background-position: -10px -485px;
}
.img-768-seven {
  background-position: -550px -849px;
}
.img-768-eight {
  background-position: -370px -485px;
}
.img-768-nine {
  background-position: -910px -630px;
}
.img-768-ten {
  background-position: -910px -10px;
}
.img-768-eleven {
  background-position: -910px -134px;
}
.img-768-twelve {
  background-position: -730px -382px;
}
.img-768-thirteen {
  background-position: -910px -258px;
}
.img-768-fourteen {
  background-position: -910px -382px;
}
.img-768-fifteen {
  background-position: -730px -506px;
}
.img-768-sixteen {
  background-position: -10px -725px;
}
.img-768-seventeen {
  background-position: -190px -725px;
}
.img-768-eighteen {
  background-position: -370px -725px;
}
.img-768-nineteen {
  background-position: -190px -485px;
}
.img-768-twenty {
  background-position: -910px -506px;
}
.img-768-twenty-one {
  background-position: -190px -849px;
}
.img-768-twenty-two {
  background-position: -550px -725px;
}
.img-768-twenty-three {
  background-position: -10px -848px;
}
.img-768-twenty-four {
  background-position: -370px -849px;
}
.right {
  margin-right: 0;
}
.date-768 {
  font-family: 'NotoSerif';
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 48px;
  background: none;
}
.date-768__arrow {
  position: relative;
  top: -34px;
  left: 11px;
}
.number-768-one {
  position: relative;
  top: -20px;
  left: 59px;
}
.number-768-two {
  position: relative;
  top: -20px;
  left: 58px;
}
.number-768-three {
  position: relative;
  top: -19px;
  left: 59px;
}
.number-768-four {
  position: relative;
  top: -21px;
  left: 60px;
}
.mounth-768-one {
  position: relative;
  font-size: 18px;
  left: 38px;
  top: -44px;
}
.mounth-768-two {
  position: relative;
  font-size: 18px;
  top: -44px;
  left: 37px;
}
.mounth-768-three {
  position: relative;
  font-size: 18px;
  top: -43px;
  left: 38px;
}
.mounth-768-four {
  position: relative;
  font-size: 18px;
  top: -45px;
  left: 39px;
}
.arrow-768 {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 5px;
  background: url('../images/768sprite.png');
  background-position: -910px -754px;
}
.arrow-768-one {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 5px;
  background: url('../images/768sprite.png');
  background-position: -910px -754px;
  top: -78px;
  left: 45px;
}
.arrow-768-two {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 5px;
  background: url('../images/768sprite.png');
  background-position: -910px -754px;
  top: -77px;
  left: 44px;
}
.arrow-768-three {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 5px;
  background: url('../images/768sprite.png');
  background-position: -910px -754px;
  top: -78px;
  left: 44px;
}
.arrow-768-four {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 5px;
  background: url('../images/768sprite.png');
  background-position: -910px -754px;
  top: -78px;
  left: 46px;
}
