#carouselExampleIndicators.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
    li(data-target="#carouselExampleIndicators" data-slide-to="1")
    li(data-target="#carouselExampleIndicators" data-slide-to="2")
  .carousel-inner
    .carousel-item.active
      .container
        .carousel-cnt
          .carousel-cnt__text
            p
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            br
            |sed diam nonummy nibh euismod tincidunt.
          .carousel-cnt__name
            |- phil donaldson, abcd
          .carousel-cnt__img

    .carousel-item
      .container
        .carousel-cnt
          .carousel-cnt__text
            p
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            br
            |sed diam nonummy nibh euismod tincidunt.
          .carousel-cnt__name
            |- PHIL DONALDSON, ABCD
          .carousel-cnt__img
      
    .carousel-item
      .container
        .carousel-cnt
          .carousel-cnt__text
            p
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            br
            |sed diam nonummy nibh euismod tincidunt.
          .carousel-cnt__name
            |- PHIL DONALDSON, ABCD
          .carousel-cnt__img
      .block
      

