header.header

    .container
        .row.align-items-center
            .col-3.header-logo
                img(src="img/logo.png", alt="logo")

            .col-6.header-menu
                ul
                    li About
                    li Find Your MSP
                    li Blog
                    li Contact
            .col-3.header-button
                    button.header-button__partner
                        |Become A Partner               
                    button.header-button__login
                        |Login
                
            .col-9.menu-link
                img(src="img/menu.png", alt="menu")
