.menu-mobile


    .menu-mobile-header
        .menu-mobile-header__logo
            img(src="img/logo.png", alt="logo")
        .menu-mobile-header__close
            p +
    ul.menu-mobile-item
        li.menu-mobile-item__about About
        li.menu-mobile-item__location Location
        li.menu-mobile-item__service Service
        li.menu-mobile-item__blog Blog
        li.menu-mobile-item__contact Contact Us
        li.menu-mobile-item__become Become A Partner
        li.menu-mobile-item__login Login

