.page
    
    .page-content
        .page-content__title
            |Relax.
            br
            |It’s Covered.
        .page-content__text
            |Exceptional IT services 
            br
            |without the extra cost.
        button.button
            p Find a location
            img(src="img/arrow-right.png", alt="arrow")
    .triangle
        
    a(href="#scroll").page-button__bottom
        
        img.animate(src="img/arrow-bottom.png", alt="arr-bottom")
