.text
    .container
        .text-cnt
            .text-cnt__title#scroll
                |Let Us Handle Your
                br
                | IT Services
            .text-cnt__line
            .text-cnt__text
                p
                    |Whether you have problems to solve today or are looking to head off IT problems
                    | tomorrow, you need the right IT partner—one that provides the support you need, is
                    |close by, and can grow with you long term. You need The 20. With our flat monthly fee,
                    |you can forget about hourly rates, labor billing, fees for drive time, hidden charges, and 
                    |unpredictable monthly bills. Instead, focus on your business.
                    br
                    br
                    |We’ve got IT covered.
    .text-button
        .container
            .text-button__title
                |Get IT Coverage for your Business
            button.button
                p Find a location
                img(src="img/arrow-right.png", alt="arrow")
            