.header
    margin-top: 23px
    display: flex
    justify-content: space-between
    align-items: flex-end
    &__menu
        display: none
        width: 30px
        cursor: pointer
    &-addres
        display: flex
        align-items: flex-end

        &__addres
            display: flex
            position: relative
            margin-left: 93px
            margin-right: 76px
        &__point
            position: absolute
            top: -3px
            left: 0
            align-self: center
        &__text
            margin-left: 25px
            color: #ffffff
            font-size: 14px
            line-height: 16px
        &__button
            width: 219px
            height: 54px
            background-color: #a30606
            border: none
            color: #ffffff
            font-size: 16px
            font-weight: bold
            text-transform: uppercase
            cursor: pointer
            transition: 0.3s
            &:hover
                opacity: 0.8

@media (max-width: 1125px)
    .header
        &__menu
            display: inline-block
        &-addres

            &__logo
                display: none
            &__button
                display: none
@media (max-width: 790px)
    .header
        &-addres__addres
            margin-left: 20px
@media (max-width: 620px)
    .header
        &-addres__addres
            & p 
                color: #000000
@media (max-width: 485px)
    .header-addres
        align-items: flex-start
@media (max-width: 380px)
    .header-addres
        width: 70%
