
// @media (max-width: 600px)
//     .wrap
//         padding-right: 75px
//         padding-left: 20px
body
    box-sizing: border-box
    font-family: 'KIA'
.wrap
    position: absolute
    display: flex
    width: 100%
    top: 0
    left: 0
    z-index: -1
.block-red
    width: 44%
    height: 770px
    background-color:  #a30606
.block-white
    width: 56%
    height: 770px
.container
    max-width: 1180px
    margin-left: auto
    margin-right: auto
@import "header"
@import "content"
@import "cars"
@import "contact"
@import "popup"