extends pug/base

append vars
	title 9line-vavilo

append links
	link(rel="stylesheet" href="foundation/app.css")
	link(rel="stylesheet" href="foundation/foundation.min.css")
	link(rel="stylesheet" href="css/main.css")

block content

	.content

		include pug/about
		include pug/skill
		include pug/level
		
	append script
		script(src="/foundation/vendor/jquery.js")
		script(src="/foundation/vendor/what-input.js")
		script(src="/foundation/vendor/foundation.min.js")
		script(src="/foundation/app.js")
		script(src="/maskinput/jquery.maskedinput.min.js")

