doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- google fonts
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')

        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")

        title NoLogoStudio
        
    body

        include mixin
        include menu

        //- jquery
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        
        //- flex menu
        script(src="js/flexmenu.min.js")

        script(src="js/script.js")