.menu

    ul.menu-list
        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры

        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры

        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры
        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры
        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры
        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры

        li.menu-item
            .menu-item__img
                img(src="images/tank.svg", alt="tank")
            .menu-item__title
                span 
                    |Flat Rack
                    br
                    |контейнеры

    ul.menu-submenu
        li.submenu-item

            .submenu-item__img
                img(src="images/glass.svg", alt="glass")
            
            .submenu-item__img_active
                img(src="images/glass-active.svg", alt="glass")
            
            .submenu-item__title
                span
                    |перевозка
                    br
                    |пищевых
                    br
                    |грузов
                    
        li.submenu-item
            .submenu-item__img
                img(src="images/gas.svg", alt="glass")

            .submenu-item__img_active
                img(src="images/gas-active.svg", alt="glass")

            .submenu-item__title
                span
                    |перевозка
                    br
                    |сжиженных
                    br
                    |газов

        li.submenu-item
            .submenu-item__img
                img(src="images/chemistry.svg", alt="glass")

            .submenu-item__img_active
                img(src="images/chemistry-active.svg", alt="glass")

            .submenu-item__title
                span
                    |перевозка
                    br
                    |химических
                    br
                    |грузов
