.menu-wrapper

    ul.menu.flex

        +menu-item
        +menu-item
        +menu-item
        +menu-item
        +menu-item
        +menu-item
        +menu-item

        
    ul.menu-submenu
        li.submenu-item

            .submenu-item__img
                img(src="images/glass.svg", alt="glass")
            
            .submenu-item__img_active
                img(src="images/glass-active.svg", alt="glass")
            
            .submenu-item__title
                span
                    |перевозка
                    br
                    |пищевых
                    br
                    |грузов

            ul.submenu-food
                li Спирты пищевые
                li Масла
                li Соки
                li Концентраты соков
                li Пищевые добавки
                li Патока
                li Виноматериал
                li Прочее
                    
        li.submenu-item
            .submenu-item__img
                img(src="images/gas.svg", alt="glass")

            .submenu-item__img_active
                img(src="images/gas-active.svg", alt="glass")

            .submenu-item__title
                span
                    |перевозка
                    br
                    |сжиженных
                    br
                    |газов

            ul.submenu-gas
                li Бутан технический
                li Пропан-бутан технический
                li Пропан-бутан автомобильный
                li Пропан автомобильный
                li Пропан технический

        li.submenu-item
            .submenu-item__img
                img(src="images/chemistry.svg", alt="glass")

            .submenu-item__img_active
                img(src="images/chemistry-active.svg", alt="glass")

            .submenu-item__title
                span
                    |перевозка
                    br
                    |химических
                    br
                    |грузов

            ul.submenu-chemistry
                li Кислоты
                li Щелочи
                li Спирты
                li Растворители
                li Соли
                li Эфиры
                li Хлориды
                li Прочее

