doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')

        include tamplate/style.pug

        title TikiTomi
        
    body

        //- миксины
        include tamplate/mixin


        ul 
            li список модальных окон
            li 1
        



        //- скрипты
        include tamplate/script.pug
