.level
    .level-scale
        img.level-scale__orange(src="images/scala-orange.png" alt="scala-orange")
        img.level-scale__green(src="images/scala-green.png" alt="scala-green")
        img.level-scale__blue(src="images/scala-blue.png" alt="scala-blue")

        img.level-scale__arrow(src="images/arrow.png" alt="arrow")

    .level-text
        p.level-text__title
            |Мой уровень владения 
            br
            |Java Script
        p.level-text__number
            |40