doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        include tamplate/style.pug
        title ClickWay
        
    body

        //- миксины
        include tamplate/mixin

        header(itemscope='' itemtype='http://schema.org/WPHeader')
            meta(itemprop='headline' content='clickway ')
            meta(itemprop='description' content='Описание сайта')
            meta(itemprop='keywords' content='асфальт, москва, недорого, доставка')


        main.wrapper

            section.main

                // меню
                .menu-popup.js_menu_popup
                    
                    .menu-popup__close.js_menu_popup_close
                        svg(xmlns='http://www.w3.org/2000/svg' width='21.903' height='21.903' viewbox='0 0 21.903 21.903')
                            g#end(transform='translate(-0.158 -0.551)')
                                path#end2(d='M21.366.866l.38.38a1.074,1.074,0,0,1,0,1.52L2.372,22.139a1.074,1.074,0,0,1-1.52,0l-.38-.38a1.074,1.074,0,0,1,0-1.52L19.846.866A1.074,1.074,0,0,1,21.366.866Z' fill='#fff')
                                path#end1(d='M2.372.866,21.746,20.24a1.074,1.074,0,0,1,0,1.519l-.273.273a1.074,1.074,0,0,1-1.52,0L.579,2.658a1.075,1.075,0,0,1,0-1.52L.852.866A1.074,1.074,0,0,1,2.372.866Z' fill='#fff')

                    .menu-popup__content

                        ul.menu-popup__content-list

                            li.menu-popup__content-list-item
                                a(href="#") Главная

                            li.menu-popup__content-list-item
                                a(href="#") О нас

                            li.menu-popup__content-list-item
                                a(href="#") Этапы работ

                            li.menu-popup__content-list-item
                                a(href="#") Дизайнерам


                            li.menu-popup__content-list-item
                                a(href="#") Связь



                        .menu-popup__content-line

                        .menu-popup__content-contacts

                            .menu-popup__content-contacts-title Контакты
                            a(href="mailto:corp@clickway.pro").menu-popup__content-contacts-email info@clickway.pro
                            a(href="tel:+79952209960").menu-popup__content-contacts-phone +7(995) 220-99-60
                            .menu-popup__content-contacts-social

                                a(href="#")
                                    svg(xmlns='http://www.w3.org/2000/svg' width='37' height='37.001' viewbox='0 0 37 37.001')
                                        g#facebook(transform='translate(-1249 -560)')
                                            g#facebook-2(data-name='facebook' transform='translate(671.7 533.56)')
                                            path(id='Контур_133' data-name='Контур 133' d='M595.8,26.44a18.5,18.5,0,1,0,18.5,18.5A18.5,18.5,0,0,0,595.8,26.44Zm4.809,11.165-1.926,0c-1.51,0-1.8.717-1.8,1.77V41.7h3.6l-.469,3.637h-3.132v9.33h-3.755v-9.33h-3.14V41.7h3.14V39.017c0-3.112,1.9-4.807,4.677-4.807a25.734,25.734,0,0,1,2.806.143Z' fill='#1c1c1c')
                                            path#Color_Overlay(data-name='Color Overlay' d='M1249,578.5a18.5,18.5,0,1,1,18.5,18.5A18.5,18.5,0,0,1,1249,578.5Zm12.686.4h3.139v9.33h3.756V578.9h3.132l.469-3.637h-3.6v-2.322c0-1.052.292-1.769,1.8-1.769l1.926,0v-3.252a25.516,25.516,0,0,0-2.806-.144c-2.776,0-4.677,1.7-4.677,4.807v2.682h-3.139Z' fill='#fff')

                                a(href="https://www.instagram.com/clickway.pro/" arial-label="сылка на инстаграм") 
                                    svg(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37')
                                        g#instagram(transform='translate(-1298 -560)' )
                                            g#instagram-2(data-name='instagram' transform='translate(725.334 148.754)')
                                            g(id='Сгруппировать_12' data-name='Сгруппировать 12')
                                                path(id='Контур_139' data-name='Контур 139' d='M599.61,423.335a3.6,3.6,0,0,0-2.07-2.058,6.052,6.052,0,0,0-2.025-.373c-1.15-.052-1.495-.064-4.407-.064s-3.257.012-4.407.064a6.052,6.052,0,0,0-2.025.373,3.6,3.6,0,0,0-2.07,2.058,5.971,5.971,0,0,0-.375,2.013c-.052,1.143-.064,1.486-.064,4.382s.011,3.238.064,4.381a5.976,5.976,0,0,0,.375,2.014,3.6,3.6,0,0,0,2.07,2.058,6.048,6.048,0,0,0,2.025.374c1.15.052,1.494.063,4.407.063s3.257-.012,4.407-.063a6.048,6.048,0,0,0,2.025-.374,3.6,3.6,0,0,0,2.07-2.058,5.974,5.974,0,0,0,.375-2.014c.053-1.143.064-1.486.064-4.381s-.011-3.239-.064-4.382A5.969,5.969,0,0,0,599.61,423.335Zm-8.5,11.964a5.569,5.569,0,1,1,5.6-5.569A5.585,5.585,0,0,1,591.107,435.3Zm5.822-10.056a1.3,1.3,0,1,1,1.308-1.3A1.305,1.305,0,0,1,596.929,425.243Z' fill='#1c1c1c')
                                                path(id='Контур_140' data-name='Контур 140' d='M591.107,426.115a3.615,3.615,0,1,0,3.635,3.615A3.626,3.626,0,0,0,591.107,426.115Z' fill='#1c1c1c')
                                                path(id='Контур_141' data-name='Контур 141' d='M591.166,411.246a18.5,18.5,0,1,0,18.5,18.5A18.5,18.5,0,0,0,591.166,411.246ZM601.948,434.2a7.9,7.9,0,0,1-.507,2.632,5.56,5.56,0,0,1-3.19,3.172,8.041,8.041,0,0,1-2.647.5c-1.164.053-1.535.065-4.5.065s-3.333-.012-4.5-.065a8.037,8.037,0,0,1-2.647-.5,5.56,5.56,0,0,1-3.19-3.172,7.905,7.905,0,0,1-.507-2.632c-.053-1.157-.066-1.526-.066-4.47s.013-3.315.066-4.471a7.907,7.907,0,0,1,.507-2.632,5.558,5.558,0,0,1,3.19-3.171,8.036,8.036,0,0,1,2.647-.5c1.164-.052,1.535-.065,4.5-.065s3.333.013,4.5.065a8.04,8.04,0,0,1,2.647.5,5.558,5.558,0,0,1,3.19,3.171,7.906,7.906,0,0,1,.507,2.632c.053,1.157.066,1.526.066,4.471S602,433.044,601.948,434.2Z' fill='#1c1c1c')
                                            path#Color_Overlay(data-name='Color Overlay' d='M1298,578.5a18.5,18.5,0,1,1,18.5,18.5A18.5,18.5,0,0,1,1298,578.5Zm13.944-10.795a8.046,8.046,0,0,0-2.647.5,5.558,5.558,0,0,0-3.19,3.172,7.887,7.887,0,0,0-.507,2.632c-.054,1.156-.067,1.526-.067,4.471s.013,3.314.067,4.47a7.888,7.888,0,0,0,.507,2.633,5.565,5.565,0,0,0,3.19,3.172,8.022,8.022,0,0,0,2.647.5c1.164.053,1.535.066,4.5.066s3.333-.013,4.5-.066a8.022,8.022,0,0,0,2.647-.5,5.35,5.35,0,0,0,1.931-1.251,5.289,5.289,0,0,0,1.258-1.921,7.888,7.888,0,0,0,.507-2.633c.053-1.156.068-1.525.068-4.47s-.014-3.315-.068-4.471a7.887,7.887,0,0,0-.507-2.632,5.3,5.3,0,0,0-1.258-1.922,5.36,5.36,0,0,0-1.931-1.25,8.046,8.046,0,0,0-2.647-.5c-1.165-.053-1.535-.066-4.5-.066S1313.107,567.653,1311.943,567.706Zm.09,19.606a6.044,6.044,0,0,1-2.025-.374,3.6,3.6,0,0,1-2.07-2.057,6,6,0,0,1-.375-2.014c-.053-1.143-.064-1.486-.064-4.381s.011-3.238.064-4.382a6,6,0,0,1,.375-2.013,3.6,3.6,0,0,1,2.07-2.057,6.03,6.03,0,0,1,2.025-.373c1.15-.052,1.495-.064,4.407-.064s3.257.012,4.407.064a6.03,6.03,0,0,1,2.025.373,3.609,3.609,0,0,1,2.071,2.057,6.006,6.006,0,0,1,.374,2.013c.053,1.144.064,1.487.064,4.382s-.011,3.238-.064,4.381a6.012,6.012,0,0,1-.374,2.014,3.609,3.609,0,0,1-2.071,2.057,6.045,6.045,0,0,1-2.025.374c-1.15.051-1.495.063-4.407.063S1313.184,587.362,1312.034,587.311Zm-1.193-8.827a5.6,5.6,0,1,0,5.6-5.568A5.585,5.585,0,0,0,1310.84,578.484Zm10.113-5.788a1.309,1.309,0,1,0,1.309-1.3A1.305,1.305,0,0,0,1320.953,572.7Zm-8.149,5.788a3.636,3.636,0,1,1,3.636,3.614A3.626,3.626,0,0,1,1312.8,578.484Z' fill='#fff')

                                a(href="https://www.youtube.com/channel/UCxZHubdXVQ7yu1odhpluRGA" arial-label="сылка на youtube") 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37.001" viewBox="0 0 37 37.001">
                                        <g id="youtube" transform="translate(-1348 -560)" >
                                            <g id="youtube-2" data-name="youtube" transform="translate(770.7 430.388)">
                                            <g id="Сгруппировать_10" data-name="Сгруппировать 10">
                                                <path id="Контур_135" data-name="Контур 135" d="M595.8,129.612a18.5,18.5,0,1,0,18.5,18.5A18.5,18.5,0,0,0,595.8,129.612Zm8.647,19.268a26.429,26.429,0,0,1-.174,2.819,3.775,3.775,0,0,1-.693,1.729,2.492,2.492,0,0,1-1.745.738c-2.438.176-6.1.182-6.1.182s-4.528-.041-5.922-.175a2.953,2.953,0,0,1-1.92-.744,3.769,3.769,0,0,1-.692-1.729,26.31,26.31,0,0,1-.174-2.819v-1.322a26.308,26.308,0,0,1,.174-2.819,3.768,3.768,0,0,1,.692-1.729,2.492,2.492,0,0,1,1.745-.738c2.438-.176,6.094-.176,6.094-.176h.007s3.656,0,6.094.176a2.492,2.492,0,0,1,1.745.738,3.773,3.773,0,0,1,.693,1.729,26.426,26.426,0,0,1,.174,2.819Z" fill="#1c1c1c"/>
                                                <path id="Контур_136" data-name="Контур 136" d="M593.94,150.482l4.706-2.438-4.706-2.456Z" fill="#1c1c1c"/>
                                            </g>
                                            </g>
                                            <path id="Color_Overlay" data-name="Color Overlay" d="M1348,578.5a18.5,18.5,0,1,1,18.5,18.5A18.5,18.5,0,0,1,1348,578.5Zm12.341-5.839a2.5,2.5,0,0,0-1.745.738,3.769,3.769,0,0,0-.692,1.729,26.409,26.409,0,0,0-.174,2.819v1.321a26.414,26.414,0,0,0,.174,2.82,3.773,3.773,0,0,0,.692,1.729,2.959,2.959,0,0,0,1.921.744c1.394.133,5.922.175,5.922.175s3.66-.005,6.1-.182a2.493,2.493,0,0,0,1.745-.737,3.778,3.778,0,0,0,.693-1.729,26.543,26.543,0,0,0,.173-2.82v-1.321a26.537,26.537,0,0,0-.173-2.819,3.774,3.774,0,0,0-.693-1.729,2.5,2.5,0,0,0-1.745-.738c-2.437-.175-6.094-.175-6.094-.175h-.007S1362.779,572.486,1360.341,572.661Zm4.3,3.315,4.706,2.456-4.706,2.438Z" fill="#fff"/>
                                        </g>
                                        </svg>

                button(arial-label="промотать страницу вниз").main-button-scroll.js_main_button_scroll
                    svg
                        use(xlink:href='img/sprite-svg.svg#button_down')

                .main_bg-1.rellax(data-rellax-speed="-1")
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount1')

                .main_bg-2.rellax(data-rellax-speed="-2") 
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount2')
                
                .main_bg-3.rellax(data-rellax-speed="-3") 
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount3')

                .main_bg-4.rellax(data-rellax-speed="-4") 
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount4')
                
                .main_bg-5.rellax(data-rellax-speed="-5") 
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount5')

                .main_bg-6.rellax(data-rellax-speed="-6") 
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount6')

                .main_bg-7.rellax(data-rellax-speed="0")
                    svg
                        use(xlink:href='img/sprite-svg.svg#mount7')



                .content-wrapper

                    .main-header

                        button(arial-label="кнопка открытия меню").main-header__button.js_main_header_button
                            svg(xmlns='http://www.w3.org/2000/svg' width='55' height='40' viewbox='0 0 55 40')
                                g(id='иконка_меню' data-name='иконка меню' transform='translate(-102 -102)')
                                    rect(id='Прямоугольник_2_копия_2' data-name='Прямоугольник 2 копия 2' width='55' height='4.72' rx='2' transform='translate(102 137.28)' fill='#fff')
                                    rect(id='Прямоугольник_2_копия' data-name='Прямоугольник 2 копия' width='55' height='4.69' rx='2' transform='translate(102 119.66)' fill='#fff')
                                    rect(id='Прямоугольник_2' data-name='Прямоугольник 2' width='55' height='4.72' rx='2' transform='translate(102 102)' fill='#fff')

                        nav 
                            ul.main-header__menu

                                li.main-header__menu-item
                                    a(href="#who-we") Кто мы
                                li.main-header__menu-item
                                    a(href="#work-stages") Этапы работы
                                li.main-header__menu-item 
                                    a(href="#connection") Связь


                        a(href="mailto:info@clickway.pro").main-header__email info@clickway.pro

                    h1.main__title 
                        span CLICK
                        span WAY

                    section.main__text 
                        span 
                            |Центр создания заряженных креативов 
                            br 
                            |для продвижения 
                            br 
                            |мобильных игр и приложений

                        .main__text-line

                    section.main-greeting(id="who-we")
                        span Приветствуем!
                        span Мы здесь, чтобы разработать
                            mark полезные 
                            |креативы, 
                            mark приносящие 
                            |новую 
                            mark прибыль 
                            |вашему приложению

                    section.main-who-we

                        .main-who-we__title
                            span КТО
                            span МЫ

                        .main-who-we__content
                            .main-who-we__content-line-horizontal
                            .main-who-we__content-line-horizontal

                            .main-who-we__content-line-vertical

                            .main-who-we__content-text-wrap
                                .main-who-we__content-text
                                    span Топим за креативность
                                    span 100%

                                .main-who-we__content-text
                                    span Соблюдаем сроки
                                    span 100%

                                .main-who-we__content-text
                                    span Удерживаем внимание
                                    span 100%

                                .main-who-we__content-text
                                    span Сопротивляемся вниманию кошек
                                    span 10%

                    section.main-year 

                        //- светящаяся звезда
                        svg.main-year__star1.rellax(data-rellax-speed="-2")
                            use(xlink:href='img/sprite-svg.svg#star')

                        //- светящаяся звезда
                        svg.main-year__star2.rellax(data-rellax-speed="-2")
                            use(xlink:href='img/sprite-svg.svg#star')

                        //- комета
                        svg.main-year__comet.rellax(data-rellax-speed="4")
                            use(xlink:href='img/sprite-svg.svg#comet')

                        //- планета
                        svg.main-year__palnet.rellax(data-rellax-speed="-5")
                            use(xlink:href='img/sprite-svg.svg#palnet')

                        //- звезды
                        svg.main-year__constellation1.rellax(data-rellax-speed="-8")
                            use(xlink:href='img/sprite-svg.svg#constellation')

                        //- звезды
                        svg.main-year__constellation2.rellax(data-rellax-speed="-8")
                            use(xlink:href='img/sprite-svg.svg#constellation')




                        .main-year__title
                            span 12 
                            span ЛЕТ

                        .main-year__content

                            .main-who-we__content-line-horizontal
                            .main-who-we__content-line-horizontal

                            .main-who-we__content-line-vertical

                            .main-year__content-item
                                .main-year__content-year 2009
                                .main-year__content-text 
                                    span Начали с рекламных роликов
                                    span Красноярск

                            .main-year__content-item
                                .main-year__content-year 2015
                                .main-year__content-text 
                                    span Занялись 3D мэппингом для мощного привлечения аудитории
                                    span Москва, Сочи, Красноярск

                            .main-year__content-item
                                .main-year__content-year 2019
                                .main-year__content-text 
                                    span Перешли в рекламу мобильных игр и приложений
                                    span Во всем мире

            
            section.main-photo-block

                    .main-photo-block__wrap
                        .main-photo-block__item
                            img(src="img/main-photo-command1.jpg", alt="фото команды") 

                        .main-photo-block__item
                            img(src="img/main-photo-command2.jpg", alt="фото команды")

                        .main-photo-block__item
                            img(src="img/main-photo-command3.jpg", alt="фото команды").

                        .main-photo-block__item
                            img(src="img/main-photo-command4.jpg", alt="фото команды")

                        .main-photo-block__item
                            img(src="img/main-photo-command5.jpg", alt="фото команды")

                        .main-photo-block__item
                            img(src="img/main-photo-command6.jpg", alt="фото команды")

                    .main-photo-block__content 
                        .main-photo-block__content-title
                            span 90
                            span %
                        .main-photo-block__content-text
                            span креативов не заходят и у них низкие KPI ?
                            span Есть решения. Мы поможем найти лучшую стратегию продвижения и повысим метрики

            section.why-work(id="work-stages")

                //- светящаяся звезда
                svg.why-work__star1.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')

                //- светящаяся звезда
                svg.why-work__star2.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')

                //- светящаяся звезда
                svg.why-work__star3.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')

                //- звезды
                svg.why-work__constellation1.rellax(data-rellax-speed="-8")
                    use(xlink:href='img/sprite-svg.svg#constellation')

                //- комета
                svg.why-work__comet.rellax(data-rellax-speed="4")
                    use(xlink:href='img/sprite-svg.svg#comet-right')


                .content-wrapper

                    .why-work__title
                        span КАК
                        span РАБОТАЕМ

                    .why-work__content 
                        .main-who-we__content-line-horizontal
                        .main-who-we__content-line-horizontal

                        .main-who-we__content-line-vertical

                        .why-work__text
                            span Сотрудничаем, нацелившись 
                            span на результат

                        .why-work__descr

                            .why-work__item
                                span.wow Заключение договора, передача материалов проекта

                            .why-work__item
                                span.wow Создание тестового набора креативов, тестирование

                            .why-work__item
                                span.wow Участие в анализе, определение образцовых креативов

                            .why-work__item
                                span.wow Создание успешных креативов, взлетающих в топ

            section.why-done

                //- светящаяся звезда
                svg.why-done__star1.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')
                
                //- светящаяся звезда
                svg.why-done__star2.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')

                //- планета
                svg.why-done__palnet.rellax(data-rellax-speed="-5")
                    use(xlink:href='img/sprite-svg.svg#palnet')


                .content-wrapper

                    h2.why-done__title
                        span что 
                        span мы уже сделали

                    .why-done__subtitle Имеем опыт создания креативов для проектов
                    
                    .why-done__project
                        .why-done__project-row
                            span.wow Hustle Castle
                            span.wow Zero City
                            span.wow Bombastic Brothers
                            span.wow AXES
                            span.wow Fishdom

                        .why-done__project-row
                            span.wow Garden Scapes
                            span.wow Township
                            span.wow Ranchdale
                            span.wow Stack Ball
                            span.wow Zero to Hero

            section.work-together(id="connection")

                //- ракета
                svg.work-together__rocket.rellax(data-rellax-speed="2") 
                    use(xlink:href='img/sprite-svg.svg#rocket')

                //- летящие звезды
                svg.work-together__meteorit.rellax(data-rellax-speed="1")
                    use(xlink:href='img/sprite-svg.svg#meteorit')

                //- светящаяся звезда
                svg.work-together__star1.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')

                //- светящаяся звезда
                svg.work-together__star2.rellax(data-rellax-speed="-2")
                    use(xlink:href='img/sprite-svg.svg#star')

                //- звезды
                svg.work-together__constellation1.rellax(data-rellax-speed="-8")
                    use(xlink:href='img/sprite-svg.svg#constellation')

                .content-wrapper

                    .work-together__title
                        span начнем 
                        span работать вместе

                    .work-together__content

                        a(href="mailto:info@clickway.pro").work-together__email info@clickway.pro
                        span или
                        form.work-together__form
                            input(type="text", name="name", placeholder="Имя", minlength="2", arial-label="введите имя" required ).work-together__input-name
                            input(type="email", name="email", placeholder="e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$", arial-label="введите email" required).work-together__input-email
                            input(type="text", name="message", placeholder="текст (по желанию)", arial-label="текст по желанию").work-together__input-message

                            button.work-together__button ОТПРАВИТЬ

            footer.footer

                svg.footer-img-bg1
                    use(xlink:href='img/sprite-svg.svg#mount-down1')

                .content-wrapper

                    .footer-text
                        span Благодарим за внимание!
                        br
                        br
                        span Команда Clickway

                    .footer-contact
                        
                        .footer-contact__social
                            a(href="#") 
                                svg(xmlns='http://www.w3.org/2000/svg' width='37.001' height='37' viewbox='0 0 37.001 37')
                                    g#icon_facebook(transform='translate(-1525 -6208)' opacity='0.388')
                                        g#icon_facebook-2(data-name='icon_facebook' transform='translate(947.7 6181.56)')
                                        path(id='Контур_119' data-name='Контур 119' d='M595.8,26.44a18.5,18.5,0,1,0,18.5,18.5A18.5,18.5,0,0,0,595.8,26.44Zm4.809,11.165-1.926,0c-1.51,0-1.8.717-1.8,1.77V41.7h3.6l-.469,3.637h-3.132v9.33h-3.755v-9.33h-3.14V41.7h3.14V39.017c0-3.112,1.9-4.807,4.677-4.807a25.734,25.734,0,0,1,2.806.143Z' fill='#1c1c1c')
                                        path#Color_Overlay(data-name='Color Overlay' d='M1525,6226.5a18.5,18.5,0,1,1,18.5,18.5A18.5,18.5,0,0,1,1525,6226.5Zm12.686.4h3.141v9.33h3.755v-9.33h3.131l.469-3.636h-3.6v-2.323c0-1.052.292-1.77,1.8-1.77h1.926v-3.252a25.931,25.931,0,0,0-2.805-.143c-2.777,0-4.677,1.694-4.677,4.807v2.682h-3.141Z' fill='#fff')

                            a(href="https://www.instagram.com/clickway.pro/" arail-label="ссылка на инстаграм") 
                                svg(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37')
                                    g#icon_inst(transform='translate(-1574 -6208)' opacity='0.388')
                                        g#icon_inst-2(data-name='icon_inst' transform='translate(1001.334 5796.754)')
                                        g(id='Сгруппировать_8' data-name='Сгруппировать 8')
                                            path(id='Контур_125' data-name='Контур 125' d='M599.61,423.335a3.6,3.6,0,0,0-2.07-2.058,6.052,6.052,0,0,0-2.025-.373c-1.15-.052-1.495-.064-4.407-.064s-3.257.012-4.407.064a6.052,6.052,0,0,0-2.025.373,3.6,3.6,0,0,0-2.07,2.058,5.971,5.971,0,0,0-.375,2.013c-.052,1.143-.064,1.486-.064,4.382s.011,3.238.064,4.381a5.976,5.976,0,0,0,.375,2.014,3.6,3.6,0,0,0,2.07,2.058,6.048,6.048,0,0,0,2.025.374c1.15.052,1.494.063,4.407.063s3.257-.012,4.407-.063a6.048,6.048,0,0,0,2.025-.374,3.6,3.6,0,0,0,2.07-2.058,5.974,5.974,0,0,0,.375-2.014c.053-1.143.064-1.486.064-4.381s-.011-3.239-.064-4.382A5.969,5.969,0,0,0,599.61,423.335Zm-8.5,11.964a5.569,5.569,0,1,1,5.6-5.569A5.585,5.585,0,0,1,591.107,435.3Zm5.822-10.056a1.3,1.3,0,1,1,1.308-1.3A1.305,1.305,0,0,1,596.929,425.243Z' fill='#1c1c1c')
                                            path(id='Контур_126' data-name='Контур 126' d='M591.107,426.115a3.615,3.615,0,1,0,3.635,3.615A3.626,3.626,0,0,0,591.107,426.115Z' fill='#1c1c1c')
                                            path(id='Контур_127' data-name='Контур 127' d='M591.166,411.246a18.5,18.5,0,1,0,18.5,18.5A18.5,18.5,0,0,0,591.166,411.246ZM601.948,434.2a7.9,7.9,0,0,1-.507,2.632,5.56,5.56,0,0,1-3.19,3.172,8.041,8.041,0,0,1-2.647.5c-1.164.053-1.535.065-4.5.065s-3.333-.012-4.5-.065a8.037,8.037,0,0,1-2.647-.5,5.56,5.56,0,0,1-3.19-3.172,7.905,7.905,0,0,1-.507-2.632c-.053-1.157-.066-1.526-.066-4.47s.013-3.315.066-4.471a7.907,7.907,0,0,1,.507-2.632,5.558,5.558,0,0,1,3.19-3.171,8.036,8.036,0,0,1,2.647-.5c1.164-.052,1.535-.065,4.5-.065s3.333.013,4.5.065a8.04,8.04,0,0,1,2.647.5,5.558,5.558,0,0,1,3.19,3.171,7.906,7.906,0,0,1,.507,2.632c.053,1.157.066,1.526.066,4.471S602,433.044,601.948,434.2Z' fill='#1c1c1c')
                                        path#Color_Overlay(data-name='Color Overlay' d='M1574,6226.5a18.5,18.5,0,1,1,18.5,18.5A18.5,18.5,0,0,1,1574,6226.5Zm13.944-10.794a8.011,8.011,0,0,0-2.647.5,5.558,5.558,0,0,0-3.189,3.171,7.89,7.89,0,0,0-.506,2.631c-.055,1.157-.067,1.527-.067,4.472s.012,3.313.067,4.47a7.9,7.9,0,0,0,.506,2.633,5.566,5.566,0,0,0,3.189,3.17,7.972,7.972,0,0,0,2.647.5c1.163.053,1.534.065,4.5.065s3.334-.012,4.5-.065a7.981,7.981,0,0,0,2.647-.5,5.566,5.566,0,0,0,3.189-3.17,7.9,7.9,0,0,0,.506-2.633c.053-1.157.067-1.525.067-4.47s-.014-3.315-.067-4.472a7.89,7.89,0,0,0-.506-2.631,5.558,5.558,0,0,0-3.189-3.171,8.02,8.02,0,0,0-2.647-.5c-1.165-.053-1.536-.066-4.5-.066S1589.107,6215.653,1587.944,6215.706Zm.089,19.6a6.01,6.01,0,0,1-2.025-.375,3.589,3.589,0,0,1-2.069-2.058,5.939,5.939,0,0,1-.376-2.014c-.053-1.143-.064-1.486-.064-4.38s.011-3.238.064-4.382a5.938,5.938,0,0,1,.376-2.014,3.6,3.6,0,0,1,2.069-2.057,6.023,6.023,0,0,1,2.025-.375c1.15-.052,1.5-.064,4.407-.064s3.257.012,4.407.064a6.014,6.014,0,0,1,2.025.375,3.6,3.6,0,0,1,2.07,2.057,5.942,5.942,0,0,1,.376,2.014c.052,1.144.063,1.487.063,4.382s-.011,3.238-.063,4.38a5.942,5.942,0,0,1-.376,2.014,3.6,3.6,0,0,1-2.07,2.058,6,6,0,0,1-2.025.375c-1.15.052-1.494.063-4.407.063S1589.184,6235.363,1588.033,6235.311Zm-1.193-8.827a5.6,5.6,0,1,0,5.6-5.569A5.585,5.585,0,0,0,1586.841,6226.484Zm10.114-5.788a1.309,1.309,0,1,0,1.309-1.3A1.305,1.305,0,0,0,1596.954,6220.7Zm-8.15,5.788a3.636,3.636,0,1,1,3.636,3.614A3.626,3.626,0,0,1,1588.8,6226.484Z' fill='#fff')

                            a(href="https://www.youtube.com/channel/UCxZHubdXVQ7yu1odhpluRGA" arial-label="сылка на youtube") 
                                svg(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37')
                                    g#icon_youtube(transform='translate(-1624 -6208)' opacity='0.388')
                                        g#icon_youtube-2(data-name='icon_youtube' transform='translate(1046.7 6078.388)')
                                        g(id='Сгруппировать_6' data-name='Сгруппировать 6')
                                            path(id='Контур_121' data-name='Контур 121' d='M595.8,129.612a18.5,18.5,0,1,0,18.5,18.5A18.5,18.5,0,0,0,595.8,129.612Zm8.647,19.268a26.429,26.429,0,0,1-.174,2.819,3.775,3.775,0,0,1-.693,1.729,2.492,2.492,0,0,1-1.745.738c-2.438.176-6.1.182-6.1.182s-4.528-.041-5.922-.175a2.953,2.953,0,0,1-1.92-.744,3.769,3.769,0,0,1-.692-1.729,26.31,26.31,0,0,1-.174-2.819v-1.322a26.308,26.308,0,0,1,.174-2.819,3.768,3.768,0,0,1,.692-1.729,2.492,2.492,0,0,1,1.745-.738c2.438-.176,6.094-.176,6.094-.176h.007s3.656,0,6.094.176a2.492,2.492,0,0,1,1.745.738,3.773,3.773,0,0,1,.693,1.729,26.426,26.426,0,0,1,.174,2.819Z' fill='#1c1c1c')
                                            path(id='Контур_122' data-name='Контур 122' d='M593.94,150.482l4.706-2.438-4.706-2.456Z' fill='#1c1c1c')
                                        path#Color_Overlay(data-name='Color Overlay' d='M1624,6226.5a18.5,18.5,0,1,1,18.5,18.5A18.5,18.5,0,0,1,1624,6226.5Zm12.341-5.84a2.5,2.5,0,0,0-1.744.738,3.772,3.772,0,0,0-.693,1.729,26.41,26.41,0,0,0-.174,2.82v1.321a26.371,26.371,0,0,0,.174,2.819,3.778,3.778,0,0,0,.693,1.729,2.963,2.963,0,0,0,1.92.744c1.395.133,5.923.174,5.923.174s3.66,0,6.1-.182a2.5,2.5,0,0,0,1.746-.736,3.78,3.78,0,0,0,.693-1.729,26.61,26.61,0,0,0,.172-2.819v-1.321a26.65,26.65,0,0,0-.172-2.82,3.773,3.773,0,0,0-.693-1.729,2.508,2.508,0,0,0-1.746-.738c-2.437-.175-6.094-.175-6.094-.175h-.008S1638.779,6220.485,1636.34,6220.66Zm4.3,3.315,4.707,2.456-4.707,2.438Z' fill='#fff')

                        .footer-contact__text
                            span ООО “ВИЖНПРО” 2021                                 
                            br
                            span Тел:   
                                a(href="tel:+79952209960")  + 7 999 999 99 99

                    
        //- скрипты
        include tamplate/script.pug


    

