// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-mine-shaft: #333;
$color-gallery: #eee;
$color-dove-gray: #666;

// FONTS
$font-family-roboto: Roboto, sans-serif;