section.content

    .content-wrapper

        .content-title
            span Ты сегодня покормил кота?

        .content-card

            +card( {flavor: "фуа-гра ", portion: "10 ", presentBold: '', present: "мышь ", weight: "0,5", description: "Печень утки разварная с артишоками."})

            +card( {flavor: "рыбой ", portion: "40 ", presentBold: "2 ", present: "мыши ", weight: "2", description: "Головы щучьи с чесноком да свежайшая сёмгушка."})

            +card( {flavor: "курой ", portion: "100 ", presentBold: "5 ", present: "мышей ", weight: "5", comment: "заказчик доволен", description: "Филе из цыплят с трюфелями в бульоне."})
            