doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- font
        link(rel="stylesheet", href="font/stylesheet.css")

        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")

        title FunBox
        
    body

        include mixin
        include content

        script(src="js/script.js")