* {
	box-sizing: border-box;
}

body {
	background: url('../img/pattern.jpg');
	
}
.box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box-title {
	font-size: 36px;
	font-weight: 400;
	font-family: 'Exo 2.0';
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 23px;
}

.box__feed {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}

.box__foiegras, .box__fish {
	margin-right: 80px;
}



/* упаковка с фуагра */
.foiegras__cnt {
	font-family: 'TrebuchetMS';
	background: #f2f2f2;
	position: relative;
	width: 320px;
	height: 480px;
	border: 4px solid #1698d9;
	border-radius: 15px;
	-webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 21%);
	clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0 10%);	
	cursor: pointer;
}

.foiegras__cnt:hover {
	border: 4px solid #2ea8e6; 
}

.foiegras__cnt:after {
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	display: block;
	border: 27px solid transparent;
	border-top: 27px solid #1698d9;
	border-left: 28px solid #1698d9; 
}

.foiegras__cnt:hover:after {
	border-top: 27px solid #2ea8e6;
	border-left: 28px solid #2ea8e6; 
}

.foiegras__cnt:hover .foiegras__weight {
	background: #2ea8e6;
}

.foiegras__cnt_active {
	border-color: #d91667;
}

.foiegras__cnt_active:hover {
	border-color: #e62e7a;
}

.foiegras__cnt_active:after {
	border-top: 27px solid #d91667;
	border-left: 28px solid #d91667;
}

.foiegras__cnt_active:hover:after {
	border-top: 27px solid #e62e7a;
	border-left: 28px solid #e62e7a;
}

.foiegras__cnt_active:hover .foiegras__weight_active {
	background: #e62e7a;
}

.foiegras__cnt_active:hover .foiegras__text {
	display: none;
}

.foiegras__cnt_active:hover .foiegras__text-hover {
	display: block;
}


.foiegras__cnt_disabled {
	border-color: #b3b3b3;
}

.foiegras__cnt_disabled:after {
	border-top: 27px solid #b3b3b3;
	border-left: 28px solid #b3b3b3;
}

.foiegras__text {
	padding-left: 48px;
	margin-top: 24px;	
	color: #666666;
	font-size: 16px;
	font-weight: 400;
}

.foiegras__text-hover {
	display: none;
	padding-left: 48px;
	margin-top: 24px;	
	color: #d91667;
	font-size: 16px;
	font-weight: 400;
}

.foiegras__title {
	margin: 0;
	padding-top: 15px;
	padding-left: 48px;
	font-size: 48px;
	font-weight: 700;
}

.foiegras__subtitle {

	font-size: 24px;
	font-weight: 700;
	padding-left: 48px;
}

.foiegras__descr {
	color: #666666;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	padding-left: 48px;
	padding-top: 16px;
}

.foiegras__img {
	margin-top: 12px;
	
}

.foiegras__text-bottom {
	
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;		
}

.foiegras__text-bottom-active {
	display: none;
}

.foiegras__text-bottom-select {
	display: none;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;
}

.foiegras__text-bottom-select-active {
	display: block;
}

.foiegras__text-bottom span {
	color: #1698d9;
}

.foiegras__text-bottom-disabled {
	display: none;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffff66;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;
}

.foiegras__text-bottom a {
	color: #2ea8e6;
	text-decoration: none;
	border-bottom: 1px dashed #1698d9;
}

.foiegras__weight {
	display: inline-block;
	position: relative; 
	width: 80px;
	height: 80px;
	background: #1698d9;
	top: -96px;
    left: 220px;
    border-radius: 50%;	
    text-align: center;
    color: #ffffff;
	font-size: 42px;
	font-weight: 400;
	line-height: 22px;
	padding-top: 19px;	
}

.foiegras__weight span {
	font-size: 21px;
}

.foiegras__weight_active {
	background: #d91667;
}

.foiegras__weight_disabled {
	background: #b3b3b3;
} 

.foiegras__disabled {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #f2f2f2;
	opacity: 0.75;
	z-index: 9;
	border-radius: 10px;
}



/* упаковка с рыбой */
.fish__cnt {
	font-family: 'TrebuchetMS';
	background: #f2f2f2;
	position: relative;
	width: 320px;
	height: 480px;
	border: 4px solid #1698d9;
	border-radius: 15px;
	-webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 21%);
	clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0 10%);	
	cursor: pointer;
}

.fish__cnt:hover {
	border: 4px solid #2ea8e6;
}

.fish__cnt:after {
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	display: block;
	border: 27px solid transparent;
	border-top: 27px solid #1698d9;
	border-left: 28px solid #1698d9; 
}

.fish__cnt:hover:after {
	border-top: 27px solid #2ea8e6;
	border-left: 28px solid #2ea8e6; 
}

.fish__cnt:hover .fish__weight {
	background: #2ea8e6;
}

.fish__cnt_active {
	border-color: #d91667;
}

.fish__cnt_active:hover {
	border-color: #e62e7a;
}

.fish__cnt_active:after {
	border-top: 27px solid #d91667;
	border-left: 28px solid #d91667;
}

.fish__cnt_active:hover:after {
	border-top: 27px solid #e62e7a;
	border-left: 28px solid #e62e7a;
}

.fish__cnt_active:hover .fish__weight_active {
	background: #e62e7a;
}

.fish__cnt_active:hover .fish__text {
	display: none;
}

.fish__cnt_active:hover .fish__text-hover {
	display: block;
}


.fish__text {
	padding-left: 48px;
	margin-top: 24px;	
	color: #666666;
	font-size: 16px;
	font-weight: 400;
}
.fish__text-hover {
	display: none;
	padding-left: 48px;
	margin-top: 24px;	
	color: #d91667;
	font-size: 16px;
	font-weight: 400;
}

.fish__title {
	margin: 0;
	padding-top: 15px;
	padding-left: 48px;
	font-size: 48px;
	font-weight: 700;
}
.fish__subtitle {

	font-size: 24px;
	font-weight: 700;
	padding-left: 48px;
}
.fish__descr {
	color: #666666;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	padding-left: 48px;
	padding-top: 16px;
}
.fish__img {
	margin-top: 12px;
	
}
.fish__text-bottom {
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;		
}
.fish__text-bottom-active {
	display: none;
}
.fish__text-bottom-select {
	display: none;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;
}
.fish__text-bottom-select-active {
	display: block;
}
.fish__text-bottom span {
	color: #1698d9;
}

.fish__text-bottom a {
	color: #1698d9;
	text-decoration: none;
	border-bottom: 1px dashed #1698d9;
}
.fish__weight {
	display: inline-block;
	position: relative; 
	width: 80px;
	height: 80px;
	background: #1698d9;
	top: -96px;
    left: 220px;
    border-radius: 50%;	
    text-align: center;
    color: #ffffff;
	font-size: 42px;
	font-weight: 400;
	line-height: 22px;
	padding-top: 19px;
	
}

.fish__weight span {
	font-size: 21px;
}
.fish__weight_active {
	background: #d91667;
}

/* упаковка с уткой */
.hen__cnt {
	font-family: 'TrebuchetMS';
	background: #f2f2f2;
	position: relative;
	width: 320px;
	height: 480px;
	border: 4px solid #1698d9;
	border-radius: 15px;
	-webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 21%);
	clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0 10%);	
	
}
.hen__cnt:hover {
	border-color: #d91667;
}
.hen__cnt:hover:after {
	border-top: 27px solid #d91667;
	border-left: 28px solid #d91667;
}
.hen__cnt:hover .hen__text {
	display: none;
}
.hen__cnt:hover .hen__text-hover {
	display: block;
}
.hen__cnt:hover .hen__weight {
	background: #d91667;
}
.hen__cnt:hover ~ .hen__text-bottom {
	display: none;
}
.hen__cnt:hover ~ .hen__text-bottom-select {
	display: block;
}

.hen__cnt:after {
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	display: block;
	border: 27px solid transparent;
	border-top: 27px solid #1698d9;
	border-left: 28px solid #1698d9; 
}
.hen__cnt_active {
	border-color: #d91667;
}
.hen__cnt_active:after {
	border-top: 27px solid #d91667;
	border-left: 28px solid #d91667;
}
.hen__text {
	padding-left: 48px;
	margin-top: 24px;	
	color: #666666;
	font-size: 16px;
	font-weight: 400;
}
.hen__text-hover {
	display: none;
	padding-left: 48px;
	margin-top: 24px;	
	color: #d91667;
	font-size: 16px;
	font-weight: 400;
}

.hen__title {
	margin: 0;
	padding-top: 15px;
	padding-left: 48px;
	font-size: 48px;
	font-weight: 700;
}
.hen__subtitle {

	font-size: 24px;
	font-weight: 700;
	padding-left: 48px;
}
.hen__descr {
	color: #666666;
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	padding-left: 48px;
	padding-top: 16px;
}
.hen__img {
	margin-top: -4px;
}
.hen__text-bottom {
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;		
}
.hen__text-bottom_active {
	display: none;
}
.hen__text-bottom span {
	color: #2ea8e6;
}

.hen__text-bottom-select {
	display: none;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;
}
.hen__text-bottom-select_active {
	display: block;
}
.hen__text-bottom a {
	color: #2ea8e6;
	text-decoration: none;
	border-bottom: 1px dashed #1698d9;
}
.hen__text-bottom-disabled {
	display: none;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #ffff66;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 15px;	
	margin-bottom: 20px;
}
.hen__weight {
	display: inline-block;
	position: relative; 
	width: 80px;
	height: 80px;
	background: #1698d9;
	top: -96px;
    left: 220px;
    border-radius: 50%;	
    text-align: center;
    color: #ffffff;
	font-size: 42px;
	font-weight: 400;
	line-height: 22px;
	padding-top: 19px;
	
}
.hen__weight_active {
	background: #d91667;
}
.hen__weight span {
	font-size: 21px;
}

/*hen-card disabled*/
.hen-card__disabled,
.hen-card__disabled:hover {
	border-color: #d3d3d3;
}
.hen-card__disabled:after,
.hen-card__disabled:hover:after {
	border-top: 27px solid #d3d3d3;
	border-left: 28px solid #d3d3d3;
}


.hen-card__disabled .hen__text,
.hen-card__disabled .hen__title,
.hen-card__disabled .hen__subtitle,
.hen-card__disabled .hen__descr {
	color: #d3d3d3;
}
.hen-card__disabled .hen__weight,
.hen-card__disabled:hover .hen__weight {
	background-color: #d3d3d3;
}
.hen-card__disabled ~ .hen__text-bottom,
.hen-card__disabled:hover ~ .hen__text-bottom-select,
.hen-card__disabled:hover .hen__text-hover {
	display: none;
}
.hen-card__disabled ~ .hen__text-bottom-disabled,
.hen-card__disabled:hover .hen__text {
	display: block;
}
.hen-card__disabled .hen__img {
	opacity: 0.5;
}

.show {
	display: block;
}

.hide {
	display: none;
}

 @media (max-width: 1024px) {
	
	.box__feed {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
} 
