.content

    .content-wrapper

        .content__title
            |Хотите избавиться от
            br
            span нежелательных волос
            br
            |или нужен сеанс
            br
            span антицеллюлитного массажа?

        ul.content-list

            li депиляция воском и Шугаринг;
            li профессиональные сертифицированные мастера;
            li работаем и с женщинами, и с мужчинами;
            li результат уже после первой процедуры.

        button.content-button
            span
                |получить карту
                br
                |клиента бесплатно

        .content-card
            img(src="images/card2.png", alt="card")

            .content-card__info
                img(src="images/info.png", alt="info").animate

            .content-card__hint
                img(src="images/hint.png", alt="info")

    .content-parallax__left

    .content-parallax__right

    img.content-images(src="images/girl.png", alt="girl")

    .content-wave
        

