.menu

    .menu-wrapper
            
        ul.menu-menu
            li Главная
            li Шугаринг и депиляция воском
            li Антицеллюлитный массаж
            li Классический массаж
            li Обучение
            li Косметика для мастеров
            li Статьи
            li О студии
            li Контакты