.popup.hide
    
    .popup-program
        
        img(src="images/popup-close.png", alt="close").popup-program__close

        img(src="images/popup-overlay.png", alt="overlay").popup-program__images

        .popup-program__title
            span Получите 
            |программу обучения

        .popup-program__text
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut

        form(action="#").popup-program__form

            select.popup-program__select(name="programm")
                option(value="Повыешение квалификации") Повыешение квалификации
                option(value="Повыешение квалификации") Повыешение квалификации
                option(value="Повыешение квалификации") Повыешение квалификации
                option(value="Повыешение квалификации") Повыешение квалификации

            input(type="text", name="name", placeholder='Ваше имя')

            input(type="text", name="telephone", placeholder='Ваш номер телефона')

            button.popup-program__button
                span Получить программу
                img(src="images/popup-plant.png", alt="plant")

    .popup-check

        img(src="images/popup-close.png", alt="close").popup-check__close

        img(src="images/popup-flower2.png", alt="flower").popup-check__flower

        img(src="images/popup-check.png", alt="check").popup-check__check

        .popup-check__text
            span Ваш заказ принят.
            br
            |Ожидайте звонка

        


        