.header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
  padding-bottom: 19px; }
  .header__content {
    position: relative;
    max-width: 960px; }
  .header__block1 {
    position: absolute;
    display: inline-block;
    height: 108px;
    background-color: #777777;
    left: 0;
    width: 122px;
    margin-right: 23px; }
  .header__block2 {
    position: absolute;
    height: 108px;
    background-color: #777777;
    left: 145px;
    display: inline-block;
    width: 279px;
    margin-right: 23px; }
  .header__block3 {
    position: absolute;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 447px;
    height: 108px;
    background-color: #777777;
    width: 513px; }

.block3__contact {
  display: inline-block;
  color: #ffffff;
  text-align: right;
  margin-right: 23px; }

.block3__contact a {
  color: #ffffff; }

.content {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px; }
  .content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px; }
    .content-left__up {
      width: 184px;
      background-color: #777777; }
    .content-left__bottom {
      width: 184px;
      height: 134px;
      background-color: #777777; }
    .content-left ul {
      margin-left: 13px;
      margin-top: 19px;
      margin-bottom: 17px;
      color: #ffffff; }
      .content-left ul li:first-child {
        font-weight: 700; }
  .content-center {
    width: 757px; }
    .content-center__up {
      color: #ffffff;
      padding-top: 22px;
      padding-left: 21px;
      padding-bottom: 20px;
      background-color: #777777;
      margin-bottom: 19px; }
      .content-center__up p {
        font-weight: 700;
        margin-bottom: 35px; }
      .content-center__up ul {
        margin-left: 60px;
        margin-bottom: 35px;
        list-style-type: square; }
    .content-center__middle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .content-center__bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.middle__block {
  width: 133px;
  height: 152px;
  margin-right: 22px;
  margin-bottom: 22px;
  background-color: #dcdcdc; }

.bottom-block {
  width: 369px;
  background-color: #dcdcdc;
  padding: 23px 21px 32px 19px;
  color: #777777; }

.bottom-block:first-child {
  margin-right: 17px; }

.m-0 {
  margin-right: 0; }

.footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px; }
  .footer-block {
    width: 297px;
    height: 180px;
    padding-top: 18px;
    padding-left: 25px;
    background-color: #777777;
    margin-right: 28px;
    color: #ffffff; }
    .footer-block__right {
      width: 308px;
      height: 180px; }
      .footer-block__right-up {
        width: 100%;
        height: 75px;
        background-color: #777777;
        margin-bottom: 45px; }
      .footer-block__right-bottom {
        width: 100%;
        height: 75px;
        background-color: #777777; }
    .footer-block__list-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer-block__list-left li {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%; }

.list-middle ul {
  list-style-type: square;
  margin-left: 25px; }

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "Arial"; }

.wrap {
  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 151px;
  padding-bottom: 222px; }

.line {
  max-width: 960px;
  height: 1px;
  background-color: #696969;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto; }
