.level.row
    .level-scale.medium-6.small-12
        img(src="images/scala.png" alt="scala")
        img.level-scale__arrow(src="images/arrow.png" alt="arrow")

    .level-text.medium-6.small-12
        p.level-text__title
            |Мой уровень владения 
            br
            |Java Script
        p.level-text__number
            |50