.skill
    .skill__title
        p
            |Навыки
    .row
        .medium-3.small-6
            ul.skill-list
                li.skill-list__item
                    input(type="checkbox" name="html5" id="html5" checked)
                    label(for="html5")
                        |html5
                li.skill-list__item
                    input(type="checkbox" name="css3" id="css3" checked)
                    label(for="css3") 
                        |css3
                li.skill-list__item
                    input(type="checkbox" name="bem" id="bem" checked)
                    label(for="bem")
                        |БЭМ

        .medium-3.small-6
            ul.skill-list
                li.skill-list__item
                    input(type="checkbox" name="sass" id="sass" checked)
                    label(for="sass")
                        |sass
                li.skill-list__item
                    input(type="checkbox" name="less" id="less" checked)
                    label(for="less")
                        |less
                li.skill-list__item
                    input(type="checkbox" name="gulp" id="gulp" checked)
                    label(for="gulp")
                        |gulp

        .medium-3.small-6
            ul.skill-list
                li.skill-list__item
                    input(type="checkbox" name="vanillajs" id="vanillajs")
                    label(for="vanillajs")
                        |vanillajs
                li.skill-list__item
                    input(type="checkbox" name="angular" id="angular")
                    label(for="angular")
                        |angular
                li.skill-list__item
                    input(type="checkbox" name="jquery" id="jquery" checked)
                    label(for="jquery")
                        |jquery

        .medium-3.small-6
            ul.skill-list
                li.skill-list__item
                    input(type="checkbox" name="git" id="git" checked)
                    label(for="git")
                        |git
                li.skill-list__item
                    input(type="checkbox" name="foundation" id="foundation" checked)
                    label(for="foundation")
                        |foundation
                li.skill-list__item
                    input(type="checkbox" name="" id="bootstrap" checked)
                    label(for="bootstrap")
                        |bootstrap