footer.footer
    .footer-text
        p © 2009–2016 Офис «В Беляево». При использовании материалов ссылка на сайт обязательна
    .footer-development
        .footer-development__img
            img(src="img/lightbulb.png", alt="lightbuld")
        .footer-development__text
            p Разработка и продвижение — «ЭВРИКА»