header.header
    
    .header-contact
        .header__logo 
            img(src="img/logo.png", alt="logo")
        .header-info 
            .header-addres
                .header-address__title 
                    p Агентство недвижимости            
                .header-address__text
                    img(src="img/metro-orange.png", alt="metro-logo")
                    |Москва, «Беляево», ул. Миклухо-Маклая, д. 43
            .header-telephone
                p.header-telephone__number 
                    |+7 (495) 276-03-03
                p.header-telephone__time
                    |Пн—Пт: с 09.00 до 21.00, Сб—Вс: с 10.00 до 17.00
            button.header-button
                |Бесплатная консультация
    
    .header-menu
        ul
            li 
                a(href="#") новостройки
            li 
                a(href="#") ЭЛИТНАЯ НЕДВИЖИМОСТЬ
            li 
                a(href="#") вторичная недвижимость
            li 
                a(href="#") коммерческая недвижимость
            li 
                a(href="#") ипотека
            li 
                a(href="#") УСЛУГИ
            li 
                a(href="#") КОНТАКТЫ
        i.fas.fa-search