.house
    .house-block
        .house-info
            .house-info__title
                h2 Микрорайон Некрасовка
            .house-info-address
                .house-info-address__metro
                    .house-info-address__img
                        img(src="img/metro-green.png", alt="metro-green")
                    p 
                        |Марьина роща 
                        span 2 минуты пешком
                    
                p Москва, ЮВАО, район Некрасовка, Люберецкие поля аэрации
            .house-info-price
                .house-info-price__light
                    p 1-комнатные от 30 м²
                    p 2-комнатные от 75 м²
                    p 3-комнатные от 74 м²
                    p 4-комнатные от 177 м²
                .house-info-price__normal
                    p 6 900 000 р.
                    p от 22 900 000 р.
                    p от 17 400 000 р.
                    p от 63 200 000 р. 

            .house-info-descr
                .house-info-descr__light
                    p Стадия готовности:
                    p Ипотека:
                    p Отделка:
                .house-info-descr__normal
                    p Монтаж завершен. Ввод дома
                        br
                        |в эксплуатацию в 4 квартале
                        br
                        |2019 года / На заселении
                    p Есть
                    p Возможна
            .house-info-action
                img(src="img/ipoteka (1).png", alt="ipoteka")
                img(src="img/rassrochka.png", alt="rassrochka")
                img(src="img/sale.png", alt="sale")
                img(src="img/subsidii.png", alt="subsidii")
            
        .house-img
            img(src="img/nekrasovka-img.jpg", alt="nekrasovka")

            button.house-img__button 
                |Подробнее
            .house-img-offer
                .house-img__sertif
                    |Подарочный сертификат
                .house-img__action
                    |Акция
    .house-block
        .house-info
            .house-info__title
                h2 ДОМ «Флагман»
            .house-info-address
                .house-info-address__metro
                    .house-info-address__img
                        img(src="img/metro-gray.png", alt="metro-gray")
                    p 
                        |Выхино 
                        span 10 минут на транспорте
                    
                p Московская область, г. Долгопрудный, ул. Набережная
            .house-info-price
                .house-info-price__light
                    p 1-комнатные от 30 м²
                    p 2-комнатные от 75 м²
                    p 3-комнатные от 74 м²
                .house-info-price__normal
                    p 3 239 397 р.
                    p от 4 734 000 р.
                    p от 6 512 440 р.

            .house-info-descr
                .house-info-descr__light.padding
                    p Стадия готовности:
                    p Ипотека:
                    p Отделка:
                .house-info-descr__normal
                    p Введен в эксплуатацию / На 
                        br
                        |заселении.
                    p Есть
                    p Возможна
            .house-info-action
                img(src="img/ipoteka (1).png", alt="ipoteka")
                img(src="img/rassrochka.png", alt="rassrochka")
                img(src="img/sale.png", alt="sale")
                img(src="img/subsidii.png", alt="subsidii")
            
        .house-img
            img(src="img/flagman-img.jpg", alt="flagman")

            button.house-img__button 
                |Подробнее
       
    .house-block
        .house-info
            .house-info__title
                h2 ЖК «Лайково»
            .house-info-address
                .house-info-address__metro
                    .house-info-address__img
                        img(src="img/metro-blue.png", alt="metro-blue")
                    p 
                        |ЖК «Лайково» 
                        span 15 минут на транспорте
                    
                p Московская область, г. Долгопрудный, ул. Дирижабельная
            .house-info-price
                .house-info-price__light
                    p 1-комнатные от 30 м²
                    p 2-комнатные от 75 м²
                    p 3-комнатные от 74 м²
                    p 4-комнатные от 177 м²
                .house-info-price__normal
                    p 6 900 000 р.
                    p от 22 900 000 р.
                    p от 17 400 000 р.
                    p от 63 200 000 р. 

            .house-info-descr
                .house-info-descr__light
                    p Стадия готовности:
                    p Ипотека:
                    p Отделка:
                .house-info-descr__normal
                    p Монтаж завершен. Ввод дома
                        br
                        |в эксплуатацию в 4 квартале
                        br
                        |2019 года / На заселении
                    p Есть
                    p Возможна
            .house-info-action
                img(src="img/ipoteka (1).png", alt="ipoteka")
                img(src="img/rassrochka.png", alt="rassrochka")
                img(src="img/sale.png", alt="sale")
                img(src="img/subsidii.png", alt="subsidii")
            
        .house-img
            img(src="img/laikovo-img.jpg", alt="laikovo")

            button.house-img__button 
                |Подробнее
            .house-img-offer
                .house-img__sertif
                    |Подарочный сертификат
                .house-img__action
                    |Акция
    
    button.house-button 
        |Все предложения

