doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="css/reset.css")
        //- Google font
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        script(src="https://kit.fontawesome.com/7c72c019ac.js")
        
        //- яндекс карта
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript")
        script(src="icon_customImage.js" type="text/javascript")

        link(rel="stylesheet", href="css/main.css")

        title Novoc layout

    body
        
        include header
        include search
        include map
        include house
        include office
        include footer

        script(src="js/script.js")
        
