.map#map
    
    .map-card
        img.map-card__img(src="img/jazz-img.jpg", alt="jazz")
        .card-info
            .map-triangle
            .map-close
                i.fas.fa-times
            .card-info__title
                h2 ЖК Премиум-квартал JAZZ
            .card-info-address
                .card-info-address__metro
                    .card-info-address__img
                        img(src="img/metro-green.png", alt="metro-green")
                    p 
                        |Марьина роща 
                        span 2 минуты пешком
                    
                p Марьина роща, ул. Сущевский вал, 49
            .card-info-price
                .card-info-price__light
                    p 1-комнатные от 30 м²
                    p 2-комнатные от 75 м²
                    p 3-комнатные от 74 м²
                    p 4-комнатные от 177 м²
                .card-info-price__normal
                    p 6 900 000 р.
                    p от 22 900 000 р.
                    p от 17 400 000 р.
                    p от 63 200 000 р. 

            .card-info-descr
                .card-info-descr__light
                    p Стадия готовности:
                    p Ипотека:
                    p Отделка:
                .card-info-descr__normal
                    p На заселении
                    p Есть
                    p Возможна
            button.card-info__button 
                |Заказать просмотр
