.office
    .office-title
        h2 Офис Миэль «В Беляево»
    .office-descr
        p — это команда профессиональных экспертов и агентов по недвижимости с большим багажом риелторской и юридической практики. Основные направления Миэль «В Беляево» – это продажа элитной недвижимости и квартир в новостройках.
            
    .office-spec
        .office-spec__title
            p Наши специалисты выполняют широкий спектр операций, связанных с недвижимостью:
        .office-attandance
            .office-attandance-item
                .office-attandance__img
                    img(src="/img/ofis_1.png", alt="office-1")
                .office-attandance__text
                    P Подбор квартир
                
            .office-attandance-item
                .office-attandance__img
                    img(src="/img/ofis_2.png", alt="office-2")
                .office-attandance__text
                    P Проверка застройщика и/или собственника
            
            .office-attandance-item
                .office-attandance__img
                    img(src="/img/ofis_3.png", alt="office-3")
                .office-attandance__text
                    P Проверка и оформление документов
            .office-attandance-item
                .office-attandance__img
                    img(src="/img/ofis_4.png", alt="office-4")
                .office-attandance__text
                    P Юридическая поддержка
            
            .office-attandance-item
                .office-attandance__img
                    img(src="/img/ofis_5.png", alt="office-5")
                .office-attandance__text
                    P Сопровождение сделки

        .office-spec__text
            p Если вы хотите купить квартиру в элитном жилом комплексе, то мы поможем вам это сделать не только максимально комфортно и безопасно, но и выгодно – мы всегда сообщаем о самых интересных акциях и выбираем действительно горячие предложения. Кроме того, мы готовы помочь оформить выгодную ипотеку. Каждый клиент становится для нас партнером, которого мы готовы защитить от всевозможных рисков и поддержать на всех этапах проведения сделки.