
.main
    position: relative
    // height: 100vh   

    & .content-wrapper
        position: relative
        padding-top: 50px
        z-index: 20
        @media(min-width: 1200px)
            padding-top: 100px

    &-button-scroll
        position: fixed
        right: 74px
        bottom: 74px
        width: 57px
        height: 46px
        border: none
        z-index: 90
        & svg
            position: relative
            width: 100%
            height: 100%
            object-fit: contain
            animation-name: animation-button-scroll
            animation-duration: 1.5s
            animation-timing-function: linear
            animation-iteration-count: infinite


    @keyframes animation-button-scroll

        0%
            top: 0
        25%
            top: -3px
        50%
            top: 0
        75%
            top: 3px
        100% 
            top: 0

    &_bg-1,
    &_bg-2,
    &_bg-3,
    &_bg-4,
    &_bg-5,
    &_bg-6,
    &_bg-7
        position: absolute
        left: 0
        width: 100%
        & svg
            position: relative
            width: 100%
            height: 100%
            object-fit: cover
            

    &_bg-1
        top: 538px
        height: 280px
        z-index: 6        
    &_bg-2
        top: 457px
        height: 430px
        z-index: 5
    &_bg-3
        top: 316px
        height: 503px
        z-index: 4
    &_bg-4
        top: 182px
        height: 679px
        z-index: 3
    &_bg-5
        top: 289px
        height: 647px
        z-index: 2

    &_bg-6
        top: 160px
        height: 567px
        z-index: 1
    
    // постамент
    &_bg-7
        top: 525px
        height: 1582px
        z-index: 7
   
    &-header
        display: flex
        align-items: center
        justify-content: space-between

        &__button
            border: none
            display: inline-block
            min-width: 40px
            height: 25px
            margin-right: 20px
            @media(min-width: 1200px)
                min-width: 55px
                height: 40px
            @media(min-width: 1500px)
                margin-right: 0
            & svg
                width: 100%
                height: 100%
                object-fit: contain

        &__menu
            display: none
            @media(min-width: 1200px)
                display: flex
                width: 775px
                display: flex
                justify-content: space-between

                &-item 
                    & a
                        display: inline-block
                        position: relative
                        font-size: 25px
                        font-weight: 100
                        color: #FFFFFF
        &__email
            font-size: 18px 
            line-height: 130%
            font-weight: 500
            color: #fff
            border-bottom: 5px solid #C0178F
            margin-left: 20px
            @media(min-width: 1200px)
                font-size: 25px 
            @media(min-width: 1500px)
                margin-left: 0

    &__title
        padding-top: 90px
        text-align: center
        font-family: $font-jost
        font-size: 75px
        line-height: 110%
        margin-bottom: 415px
        @media(min-width: 1200px)
            font-size: 125px
        & span 
            display: inline-block
            &:first-child
                font-weight: 900
            &:last-child
                font-weight: 100
                
    &__text 
        text-align: center
        margin-bottom: 172px
        & span 
            display: inline-block
            width: 100%
            font-size: 28px
            line-height: 33px
            font-weight: 100
            text-align: center
            margin-bottom: 26px

        &-line
            display: inline-block
            width: 55px
            height: 5px
            background-color: #18F18D
            border-radius: 2px

    &-greeting
        font-size: 28px
        line-height: 100%
        font-weight: 100
        width: 500px
        margin-left: 295px
        & span 
            display: inline-block
            &:first-child
                margin-bottom: 20px

            & mark
                background-color: transparent
                color: #18F18D

    &-who-we
        font-family: $font-jost
        width: 631px
        margin-right: 0
        margin-left: auto

        &__title
            // display: inline-block
            width: 100%
            height: auto
            text-align: right
            font-size: 125px
            line-height: 95px
            & span 
                display: inline-block
                color: #18F18D
                margin-right: 48px
                
                &:first-child
                    font-weight: 900
                &:last-child
                    font-weight: 100
                    margin-left: 20px
       
        &__content
            position: relative
            // top: -23px
            display: inline-block
            width: 100%
            &-line

                &-horizontal
                    display: inline-block
                    width: 100%
                    height: 1px
                    background-color: #C21AD1
                    margin-bottom: 40px
                    &:last-child
                        margin-bottom: 63px

                &-vertical
                    display: inline-block
                    position: absolute
                    right: 165px
                    top: 0
                    width: 1px
                    height: 100%
                    background-color: #C21AD1

            &-text
                width: 100%
                font-family: $font-roboto
                font-weight: 100
                font-size: 27px
                margin-bottom: 32px


                &:last-child
                    margin-bottom: 0
                    & span:last-child::before
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='163.91' height='23.22' viewBox='0 0 163.91 23.22'%3E%3Cg id='круг_копия_8' data-name='круг копия 8' transform='translate(-1216.59 -1874.94)'%3E%3Cellipse id='Эллипс_5_копия' data-name='Эллипс 5 копия' cx='6.72' cy='6.7' rx='6.72' ry='6.7' transform='translate(1362.09 1879.85)' fill='%237e2e39'/%3E%3Cg id='Эллипс_5' data-name='Эллипс 5' transform='translate(1357.16 1874.94)' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.67' cy='11.61' rx='11.67' ry='11.61' stroke='none'/%3E%3Cellipse cx='11.67' cy='11.61' rx='10.67' ry='10.61' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='круг_копия_7' data-name='круг копия 7' transform='translate(-1216.59 -1874.94)'%3E%3Cg id='Эллипс_5-2' data-name='Эллипс 5' transform='translate(1328.84 1874.94)' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.61' rx='11.69' ry='11.61' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.61' rx='10.69' ry='10.61' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='круг_копия_6' data-name='круг копия 6' transform='translate(-1216.59 -1874.94)'%3E%3Cg id='Эллипс_5-3' data-name='Эллипс 5' transform='translate(1300.5 1874.94)' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.61' rx='11.69' ry='11.61' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.61' rx='10.69' ry='10.61' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='круг_копия_5' data-name='круг копия 5' transform='translate(-1216.59 -1874.94)'%3E%3Cg id='Эллипс_5-4' data-name='Эллипс 5' transform='translate(1273.18 1874.94)' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.61' rx='11.69' ry='11.61' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.61' rx='10.69' ry='10.61' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='круг_копия_4' data-name='круг копия 4' transform='translate(-1216.59 -1874.94)'%3E%3Cg id='Эллипс_5-5' data-name='Эллипс 5' transform='translate(1244.84 1874.94)' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.61' rx='11.69' ry='11.61' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.61' rx='10.69' ry='10.61' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='круг_копия_3' data-name='круг копия 3' transform='translate(-1216.59 -1874.94)'%3E%3Cg id='Эллипс_5-6' data-name='Эллипс 5' transform='translate(1216.59 1874.94)' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.66' cy='11.61' rx='11.66' ry='11.61' stroke='none'/%3E%3Cellipse cx='11.66' cy='11.61' rx='10.66' ry='10.61' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")

                &-wrap
                    width: 305px                    
                    margin-left: 105px

                & span 
                    display: inline-block
                    width: 100%
                    position: relative
                    text-align: right

                    &:first-child
                        margin-bottom: 12px

                    &:last-child::before
                        content: ""
                        display: inline-block
                        width: 164px
                        height: 23px
                        background-repeat: no-repeat
                        background-size: contain
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='163.9' height='23.18' viewBox='0 0 163.9 23.18'%3E%3Cg id='_6' data-name='6' transform='translate(140.56)'%3E%3Cellipse id='kr6' cx='6.72' cy='6.67' rx='6.72' ry='6.67' transform='translate(4.93 4.93)' fill='%23089d59'/%3E%3Cg id='obod6' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.67' cy='11.59' rx='11.67' ry='11.59' stroke='none'/%3E%3Cellipse cx='11.67' cy='11.59' rx='10.67' ry='10.59' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='_5' data-name='5' transform='translate(112.24)'%3E%3Cellipse id='kr5' cx='6.72' cy='6.67' rx='6.72' ry='6.67' transform='translate(4.97 4.93)' fill='%23089d59'/%3E%3Cg id='obod5' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.59' rx='11.69' ry='11.59' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.59' rx='10.69' ry='10.59' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='_4' data-name='4' transform='translate(83.93)'%3E%3Cellipse id='kr4' cx='6.72' cy='6.67' rx='6.72' ry='6.67' transform='translate(4.97 4.93)' fill='%23089d59'/%3E%3Cg id='obod4' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.59' rx='11.69' ry='11.59' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.59' rx='10.69' ry='10.59' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='_3' data-name='3' transform='translate(56.59)'%3E%3Cellipse id='kr3' cx='6.72' cy='6.67' rx='6.72' ry='6.67' transform='translate(4.97 4.93)' fill='%23089d59'/%3E%3Cg id='obod3' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.59' rx='11.69' ry='11.59' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.59' rx='10.69' ry='10.59' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='_2' data-name='2' transform='translate(28.27)'%3E%3Cellipse id='kr2' cx='6.72' cy='6.67' rx='6.72' ry='6.67' transform='translate(4.97 4.93)' fill='%23089d59'/%3E%3Cg id='obod2' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.69' cy='11.59' rx='11.69' ry='11.59' stroke='none'/%3E%3Cellipse cx='11.69' cy='11.59' rx='10.69' ry='10.59' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='_1' data-name='1'%3E%3Cellipse id='kr1' cx='6.72' cy='6.67' rx='6.72' ry='6.67' transform='translate(4.96 4.93)' fill='%23089d59'/%3E%3Cg id='obod1' fill='none' stroke='%23fff' stroke-width='2'%3E%3Cellipse cx='11.67' cy='11.59' rx='11.67' ry='11.59' stroke='none'/%3E%3Cellipse cx='11.67' cy='11.59' rx='10.67' ry='10.59' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")

    &-year
        width: 700px
        font-family: $font-jost
        &__title
            // display: inline-block
            width: 100%
            height: auto
            font-size: 125px
            line-height: 95px
            padding-left: 50px
            & span 
                display: inline-block
                color: #18F18D
                
                &:first-child
                    font-weight: 900
                &:last-child
                    font-weight: 100
                    margin-left: 20px

        &__content
            position: relative

            & .main-who-we__content-line-vertical
                right: 495px

            &-item
                display: flex
                align-items: center
                margin-left: -20px
                margin-bottom: 34px

                &:nth-child(5)
                    & .main-year__content-year
                        color: #5A168D

                &:last-child
                    margin-bottom: 0
                    & .main-year__content-year
                        color: #7117AF

            &-year
                display: inline-block
                font-family: $font-jost
                width: 200px
                font-weight: 900
                font-size: 69px
                line-height: 69px
                color: #381A5E
                margin-right: 79px

            &-text 
                display: flex
                flex-direction: column
                font-family: $font-roboto
                font-weight: 100
                font-size: 27px
                line-height: 27px
                & span:last-child
                    display: inline-block
                    margin-top: 10px
                    &::before
                        content: ""
                        display: inline-block
                        position: relative
                        top: 2px
                        width: 23px
                        height: 23px
                        margin-right: 6px
                        background-repeat: no-repeat
                        background-size: contain
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 297 297' style='enable-background:new 0 0 297 297;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%237117AF;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M151.8,0C92.5,0,44.3,49.7,44.3,110.8c0,91,96.8,179.9,100.9,183.6c1.9,1.7,4.2,2.6,6.6,2.6 c2.3,0,4.7-0.9,6.6-2.6c4.1-3.7,100.9-92.6,100.9-183.6C259.3,49.7,211,0,151.8,0z M151.8,272.7c-21.4-21.4-87.6-93-87.6-161.9 c0-49.8,39.3-90.3,87.6-90.3s87.6,40.5,87.6,90.3C239.4,179.7,173.2,251.3,151.8,272.7z'/%3E%3Cpath class='st0' d='M151.8,59.2c-27.4,0-49.8,23.2-49.8,51.6c0,28.5,22.3,51.6,49.8,51.6s49.8-23.2,49.8-51.6 C201.5,82.3,179.2,59.2,151.8,59.2z M151.8,141.9c-16.5,0-29.9-14-29.9-31.1c0-17.2,13.4-31.1,29.9-31.1s29.9,14,29.9,31.1 S168.2,141.9,151.8,141.9z'/%3E%3C/g%3E%3C/svg%3E%0A")

    &-photo-block
        position: relative
        margin-top: 137px
        width: 100%
        // height: 855px
        

        &__wrap
            display: flex
            width: 100%
            // height: 855px
            flex-wrap: wrap
        
        &__item
            width: 100%
            height: 50%
            @media(min-width: 700px)
                width: 50%
            @media(min-width: 1200px)
                width: 33.33%

        & img 
            width: 100%
            height: 100%
            object-fit: contain

        &__content 
            position: absolute
            top: 35%
            right: 20%
            width: 583px
            height: 310px
            &-title
                color: #18F18D
                font-family: $font-jost
                font-size: 125px
                line-height: 125px
                font-weight: 900
                & span:last-child
                    font-weight: 100

            &-text
                font-family: $font-roboto
                font-size: 27px
                line-height: 27px
                font-weight: 100
                & span:first-child
                    display: inline-block
                    width: 100%
                    color: #18F18D

// КАК МЫ РАБОТАЕМ
.why-work
    padding-top: 120px

    &__title
        font-family: $font-jost
        font-size: 125px
        line-height: 125px
        color: #18F18D
        font-weight: 900
        margin-left: 70px
        & span:last-child
            font-weight: 100

    &__content 
        position: relative
        width: 880px
        height: 567px

        & .main-who-we__content-line-vertical
            right: auto
            left: 200px

    &__text
        font-family: $font-roboto
        font-weight: 100
        font-size: 27px
        line-height: 27px
        color: #fff
        margin-left: 268px
        margin-bottom: 60px
        & span:last-child
            color: #18F18D

    &__descr
        width: 1350px
        height: 342px
        margin-left: 268px
        display: flex
        align-items: center
        background-repeat: no-repeat
        background-size: contain
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1351' height='342.001' viewBox='0 0 1351 342.001'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' y1='0.5' x2='1' y2='0.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2306f2d6'/%3E%3Cstop offset='0.092' stop-color='%2307edd7'/%3E%3Cstop offset='0.199' stop-color='%230bdfdb'/%3E%3Cstop offset='0.313' stop-color='%2311c7e2'/%3E%3Cstop offset='0.432' stop-color='%231aa7ec'/%3E%3Cstop offset='0.504' stop-color='%232190f4'/%3E%3Cstop offset='0.657' stop-color='%234d68ec'/%3E%3Cstop offset='0.804' stop-color='%237149e6'/%3E%3Cstop offset='0.923' stop-color='%238736e3'/%3E%3Cstop offset='1' stop-color='%238f30e2'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='0.12' y1='0.526' x2='0.88' y2='0.474' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2318f18d'/%3E%3Cstop offset='0.268' stop-color='%2308deca'/%3E%3Cstop offset='1' stop-color='%238e31e2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='krakozyabra_na_vse_krugi' transform='translate(-472 -3893)'%3E%3Cg id='krakozyabra_na_vse_krugi-2' data-name='krakozyabra_na_vse_krugi' transform='translate(182.866 3582.162)'%3E%3Cpath id='Контур_131' data-name='Контур 131' d='M1469.253,310.837c-94.225,0-170.882,76.71-170.882,171,0,91.338-74.257,165.644-165.531,165.644S967.311,573.175,967.311,481.837c0-94.29-76.657-171-170.882-171s-170.882,76.71-170.882,171c0,91.338-74.256,165.644-165.529,165.644S294.486,573.175,294.486,481.837s74.257-165.643,165.531-165.643a165.712,165.712,0,0,1,105.291,37.824l3.406-4.13a171.071,171.071,0,0,0-108.7-39.05c-94.225,0-170.882,76.71-170.882,171s76.657,171,170.882,171,170.882-76.711,170.882-171c0-91.336,74.256-165.643,165.529-165.643S961.958,390.5,961.958,481.837c0,94.29,76.657,171,170.882,171s170.884-76.711,170.884-171c0-91.336,74.255-165.643,165.529-165.643s165.528,74.307,165.528,165.643-74.255,165.644-165.528,165.644a164.063,164.063,0,0,1-98.9-32.807l-3.2,4.293a169.378,169.378,0,0,0,102.106,33.871c94.224,0,170.881-76.711,170.881-171S1563.477,310.837,1469.253,310.837Z' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3Cpath id='Gradient_Overlay' data-name='Gradient Overlay' d='M1550.013,4201.13l3.2-4.292a164.065,164.065,0,0,0,98.905,32.807c91.274,0,165.529-74.307,165.529-165.645s-74.255-165.643-165.529-165.643-165.53,74.307-165.53,165.643c0,94.29-76.657,171-170.883,171s-170.882-76.712-170.882-171c0-91.337-74.257-165.643-165.53-165.643S813.765,3972.663,813.765,4064c0,94.29-76.658,171-170.883,171S472,4158.289,472,4064s76.658-171,170.882-171a171.076,171.076,0,0,1,108.7,39.05l-3.406,4.13a165.711,165.711,0,0,0-105.292-37.823c-91.273,0-165.53,74.307-165.53,165.643s74.257,165.645,165.53,165.645,165.53-74.307,165.53-165.645c0-94.29,76.658-171,170.882-171s170.882,76.71,170.882,171c0,91.338,74.256,165.645,165.53,165.645s165.531-74.307,165.531-165.645c0-94.29,76.657-171,170.882-171S1823,3969.709,1823,4064s-76.658,171-170.881,171A169.376,169.376,0,0,1,1550.013,4201.13Z' fill='url(%23linear-gradient-2)'/%3E%3C/g%3E%3C/svg%3E%0A")

    &__item
        width: 284px
        height: 284px
        margin-right: 53px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        font-family: $font-roboto
        font-size: 25px
        font-weight: 100
        &:nth-child(1)
            margin-left: 26px
            border: 3px solid #19EA8C
        &:nth-child(2)
            border: 3px solid #13CECF
        &:nth-child(3)
            border: 3px solid #4A87DA
        &:nth-child(4)
            border: 3px solid #8240E0
            margin-right: 0

.why-done
    padding-top: 122px
    
    &__title
        font-family: $font-jost
        font-size: 125px
        line-height: 126px
        color: #18F18D
        font-weight: 100
        margin-bottom: 49px
        & span:first-child
            font-weight: normal
            font-weight: 900
    
    &__subtitle
        font-size: 27px
        line-height: 27px
        font-weight: 100
        margin-bottom: 95px
    
    &__project
        width: 1290px
        &-row
            margin-bottom: 93px
            display: flex
            justify-content: space-between
            font-family: $font-roboto
            font-weight: 500
            font-size: 31px
            line-height: 31px
            color: #8849D5
            &:first-child
                & span:nth-child(2n)
                    color: #5954D8

            &:last-child
                margin-bottom: 0
                & span:nth-child(odd)
                    color: #5954D8

.work-together
    padding-top: 65px
    margin-bottom: 105px

    &__title
        font-family: $font-jost
        font-size: 125px
        line-height: 125px
        font-weight: 100
        color: #18F18D
        margin-bottom: 77px
        & span:first-child
            display: inline-block
            font-weight: 900
            margin-right: 20px

    &__content
        display: inline-block
        width: 476px
        & span 
            display: inline-block
            width: 100%
            text-align: center
            font-family: $font-roboto
            font-size: 25px
            line-height: 25px
            font-weight: 100
            margin-bottom: 47px

    &__email
        display: inline-block
        position: relative
        left: 50%
        transform: translateX(-50%)
        font-family: $font-roboto
        font-size: 32px
        line-height: 32px
        font-weight: 500
        color: #fff
        border-bottom: 6px solid #D99934
        border-radius: 2px
        margin-bottom: 45px

    &__form
        width: 100%
        background-color: #171717
        padding: 45px 40px 50px
        border-radius: 57px

        & input
            display: inline-block
            width: 100%
            padding-left: 10px
            padding-bottom: 20px
            background-color: transparent
            border: none
            border-bottom: 1px solid #D79933
            color: #fff
            font-family: $font-roboto
            font-size: 27px
            line-height: 27px
            font-weight: 100
            &::placeholder
                font-family: $font-roboto
                font-size: 27px
                line-height: 27px
                font-weight: 100
                color: #fff
    &__input
        &-name
            margin-bottom: 28px

        &-email
            margin-bottom: 105px

        &-message
            margin-bottom: 105px

    &__button
        position: relative
        left: 50%
        transform: translateX(-50%)
        width: 268px
        height: 67px
        background-color: #24C57B
        border-radius: 14px
        font-family: $font-roboto
        font-size: 27px
        line-height: 27px
        font-weight: 300
        text-transform: uppercase
        color: #fff
        border: none

.footer
    padding-bottom: 96px

    & .content-wrapper
        display: flex
        justify-content: space-between

    &-text
        font-family: $font-roboto
        font-size: 27px
        line-height: 27px
        font-weight: 100

    &-contact
        &__social
            margin-bottom: 7px
            & a 
                display: inline-block
                margin-right: 12px
                &:last-child
                    margin-right: 0
                &svg
                    width: 37px
                    height: 37px
        &__text
            font-family: $font-roboto
            font-size: 18px
            line-height: 18px
            & span:first-child::after
                content: ""
                display: inline-block
                width: 15px
                height: 15px
                background-size: contain
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cg id='icon_C' transform='translate(-1744 -6258)'%3E%3Cg id='icon_C-2' data-name='icon_C' transform='translate(1743.167 6257.167)'%3E%3Cg id='Сгруппировать_4' data-name='Сгруппировать 4'%3E%3Cpath id='Контур_115' data-name='Контур 115' d='M8.333.833a7.5,7.5,0,1,0,7.5,7.5A7.507,7.507,0,0,0,8.333.833Zm0,13.99a6.49,6.49,0,1,1,6.49-6.49A6.5,6.5,0,0,1,8.333,14.823Z'/%3E%3Cpath id='Контур_116' data-name='Контур 116' d='M8.57,5.087a3.218,3.218,0,0,1,2.3.967.618.618,0,0,0,.88-.867A4.445,4.445,0,0,0,8.57,3.853a4.554,4.554,0,0,0,0,9.107,4.453,4.453,0,0,0,3.013-1.173.616.616,0,0,0-.83-.91,3.232,3.232,0,0,1-2.18.85,3.32,3.32,0,0,1,0-6.64Z'/%3E%3C/g%3E%3C/g%3E%3Cpath id='Color_Overlay' data-name='Color Overlay' d='M1744,6265.5a7.5,7.5,0,1,1,7.5,7.5A7.506,7.506,0,0,1,1744,6265.5Zm1.009,0a6.49,6.49,0,1,0,6.491-6.491A6.5,6.5,0,0,0,1745.01,6265.5Zm2.228.073a4.533,4.533,0,0,1,4.5-4.553,4.443,4.443,0,0,1,3.183,1.333.617.617,0,0,1-.88.866,3.215,3.215,0,0,0-2.3-.965,3.32,3.32,0,0,0,0,6.639,3.229,3.229,0,0,0,2.18-.851.616.616,0,1,1,.83.91,4.451,4.451,0,0,1-3.013,1.174A4.533,4.533,0,0,1,1747.237,6265.573Z' fill='%23babdbe'/%3E%3C/g%3E%3C/svg%3E%0A")

    

        



// всплывающее меню
.menu-popup
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 100
    background-color: #171717
    opacity: 0
    pointer-events: none
    transition: all 0.5s
    display: flex
    align-items: center
    justify-content: center

    &.active
        opacity: 1
        pointer-events: auto
        transition: all 0.5s


    &__close
        position: absolute
        top: 108px
        right: 105px
        width: 22px
        height: 22px
        cursor: pointer
        & svg 
            position: relative
            top: -16px
            width: 100%
            height: 100%
            object-fit: contain

    &__content
        position: relative
        width: 1240px
        max-width: 1240px
        padding-left: 20px
        padding-right: 20px
        display: flex
        justify-content: space-between

        &-list
            &-item
                margin-bottom: 30px
                & a
                    font-size: 48px
                    line-height: 50px
                    font-weight: bold
                    color: #6A6A6A
                &:last-child
                    margin-bottom: 0

        &-line
            position: absolute
            top: 0
            left: calc(50% - 1px)
            display: inline-block
            width: 1px
            height: 100%
            background: #C21AD1
            z-index: 100
            top: 0
            bottom: 0

        &-contacts
            width: 300px
            padding-top: 45px

            &-title
                font-size: 25px
                font-weight: 100
                margin-bottom: 57px
                color: #fff

            &-email
                display: inline-block
                font-size: 25px
                font-weight: 500
                margin-bottom: 20px

            &-phone
                display: inline-block
                font-size: 25px
                font-weight: 500
                margin-bottom: 55px

            &-social
                display: flex
                & a 
                    width: 37px
                    height: 37px
                    margin-right: 12px
                    & svg
                        width: 100%
                        height: 100%
                        object-fit: contain

                    &:last-child
                        margin-right: 0


