@import "reset" //сброс 
@import "components/variables" //переменные


// Страницы
@import "_page-main" //главная


*, *:before, *:after
	box-sizing: border-box

html 
	box-sizing: border-box
  

body
	min-width: 320px
	font-family: $font-roboto
	font-size: 40px
	font-weight: 400

.content-wrapper
	max-width: 1920px
	padding-left: 100px
	padding-right: 100px
