.content
    margin-top: 20.48%

    &-title
        display: flex

        &__text
            font-size: rem(44)
            color: #FFFFFF
            font-weight: 500
            letter-spacing: rem(1.2)
            text-shadow: 0 3px 6px #00000029
            white-space: nowrap


        &__list
            text-shadow: 0 3px 6px #00000029
            border: none
            border-bottom: 2px solid #FDDA1E
            font-size: rem(40)
            background-color: transparent
            color: #FDDA1E
            cursor: pointer
            position: relative
            width: inherit
            transition: 0.5s
            appearance: none
            &:hover
                color: #FFF4BA
                border-bottom: 2px solid #FFF4BA

            & option
                color: #121212
                font-size: rem(20)
                font-weight: bold
                padding-top: 10px

.select

    &-button
        width: rem(200)
        height: rem(73)
        border: none
        border-radius: 4px
        font-size: rem(20)
        font-weight: bold
        letter-spacing: rem(0.1)
        color: #FFFFFF
        background: #7E187D
        transition: 1s
        cursor: pointer

        &:hover
            color: #FDDA1E
            background: linear-gradient(90deg, #FD65A7, #962A9F)

.input-group
    width: 40%
        
    