.about
    .about__title
        img(src="img/case.png", alt="case")
    form(action="#", method="post", name="about-form")
        .about__input
            label(for="name") Полное ФИО 
            input(type="text", id="name", name="name", placeholder="Вавило Евгений Николаевич") 

        .about__input    
            label(for="year") Год рождения 
            input(type="text", id="year", name="year", placeholder="1986")

        .about__input
            label(for="city") Место жительства 
            input(type="text", id="city", name="city", placeholder="г. Москва, Россия")  

        .about__input
            label(for="skype") Скайп 
            input(type="text", id="skype", name="skype", placeholder="joenerv")

        .about__input
            label(for="email") Почта 
            input(type="email", id="email", name="email", placeholder="joenerv@yandex.ru")
 
       
