.checkbox
    h2.checkbox__title Расскажите о себе чекбоксами
    
    p.checkbox__text Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

    form.checkbox-form(action="#", method="post",name="checkbox-form")
        ul.checkbox-block
            li
                input(type="checkbox", name="check-1", id="check-1" checked)
                label(for="check-1") БЭМ/OOCSS
            li
                input(type="checkbox", name="check-2", id="check-2" checked)
                label(for="check-2") Pug (Jade)
            li
                input(type="checkbox", name="check-3", id="check-3" checked)
                label(for="check-3") Stylus/LESS/SASS
            li
                input(type="checkbox", name="check-4", id="check-4")
                label(for="check-4") Работаю с SVG
            li
                input(type="checkbox", name="check-5", id="check-5" checked)
                label(for="check-5") Верстаю семантично
            li
                input(type="checkbox", name="check-6", id="check-6")
                label(for="check-6") Accessibility (A11Y)
            li
                input(type="checkbox", name="check-7", id="check-7")
                label(for="check-7") ES2015/ES2016

        ul.checkbox-block
            li
                input(type="checkbox", name="check-8", id="check-8" checked)
                label(for="check-8") Gulp/GRUNT
            li
                input(type="checkbox", name="check-9", id="check-9")
                label(for="check-9") Webpack
            li
                input(type="checkbox", name="check-10", id="check-10")
                label(for="check-10") Дружу с WebGL
            li
                input(type="checkbox", name="check-11", id="check-11" checked)
                label(for="check-11") jQuery
            li
                input(type="checkbox", name="check-12", id="check-12")
                label(for="check-12") Знаю/изучаю Angular
            li
                input(type="checkbox", name="check-13", id="check-13")
                label(for="check-13") Знаю/изучаю React
            li
                input(type="checkbox", name="check-14", id="check-14")
                label(for="check-14") Знаю/изучаю Node.js
          
        ul.checkbox-block
            li
                input(type="checkbox", name="check-15", id="check-15" checked)
                label(for="check-15") Использую Git
            li
                input(type="checkbox", name="check-16", id="check-16" checked)
                label(for="check-16") С глазомером всё ок
            li
                input(type="checkbox", name="check-17", id="check-17" checked)
                label(for="check-17") Читаю 
                a(href="http://blog.csssr.ru" target="_blank") blog.csssr.ru
            li
                input(type="checkbox", name="check-18", id="check-18")
                label(for="check-18") Я ленивый(-ая)
            li
                input(type="checkbox", name="check-19", id="check-19")
                label(for="check-19") У меня хороший английский


                



