doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/font.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic")
        link(rel="stylesheet", href="css/main.css")

        title Csssr Test Task
        
    body
        .wrap 
            include header
            include about
            include checkbox
            include slider
            include story
            include plans
            include date
    
        script(src="js/script.js")