.slider 
    h2.slider__title Уровень владения JavaScript
    
    .slider-container
        input.slider__range(type="range", min="1", max="100", value="50")

    img.slider__line(src="img/line.png", alt="line")
    .slider-text
        .slider-text-block1
            p.slider-text-block1__text1 Не владею 
            //- img.slider-text-block1__arrow1(src="img/arrow.png", alt="arrow")           
        .slider-text-block2
            p.slider-text-block2__text2 Использую готовые решения
            //- img.slider-text-block2__arrow2(src="img/arrow.png", alt="arrow") 
        .slider-text-block3
            p.slider-text-block3__text3 Использую готовые решения 
            p.slider-text-block3__text3 и умею их переделывать
            //- img.slider-text-block3__arrow3(src="img/arrow.png", alt="arrow") 
        .slider-text-block4
            p.slider-text-block4__text4 Пишу сложный JS с нуля
            //- img.slider-text-block4__arrow4(src="img/arrow.png", alt="arrow") 