.slider 
    h2.slider__title Уровень владения JavaScript
    
    .slider-container
        input.slider__range(type="range", min="1", max="100", step='0.5', value="49.5")

    img.slider__line(src="img/line.png", alt="line")
    
    .slider-text
        .slider-text-block1
            p.slider-text-block1__text1 Не владею

        .slider-text-block2
            p.slider-text-block2__text2 Использую готовые решения

        .slider-text-block3
            p.slider-text-block3__text3 Использую готовые решения 
            p.slider-text-block3__text3 и умею их переделывать

        .slider-text-block4
            p.slider-text-block4__text4 Пишу сложный JS с нуля