.story
    h2.story__title Расскажите о себе словами
    p.story__text
        | Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
    form.story-form(action="#", method="post")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="Ознакомившись с описанием вакансии и ")
            label(for="story") 
        .story-form-enter
            input.story-form__input(type="text", name="story", value="с видео роликом, я понял, что хочу стать")
            label(for="story") 
        .story-form-enter
            input.story-form__input(type="text", name="story", value="частью этой команды.")
            label(for="story") 
        .story-form-enter
            input.story-form__input(type="text", name="story", value="Меня привлекла возможность работать")
            label(for="story")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="с профессионалами, развиваться и ")
            label(for="story")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="быть полезным делая то, что мне нравится.")
            label(for="story")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="Я ожидаю от работы в CSSSR того, что")
            label(for="story")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="я буду решать различные задачи, работать")
            label(for="story")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="в команде профессионалов и вносить свой")
            label(for="story")
        .story-form-enter
            input.story-form__input(type="text", name="story", value="вклад в конечный продукт.")
            label(for="story")