@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    font-family: 'Roboto';
    margin: 0;
}

p {
    position: relative;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    z-index: 50;
    padding-left: 20px;
    padding-right: 20px;
    
}

.big {
    font-size: 30px;
}

.text {
    position: relative;
    height: 100%;
    z-index: 50;
    padding-top: 30px;
    padding-bottom: 116px;
}

.text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 30;
}

img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}

.img1 {
    top: 0;
    left: 0;
}

.img2 {
    left: 0;
    top: 300px;
}

.img3 {
    left: 0;
    top: 600px;
}




