

//- swiper 
script(src="js/swiper-bundle.min.js")

//- параллакс
script(src="js/rellax.min.js") 

//- greensock
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js')

//- wow
script(src="js/wow.min.js") 

//- основные скрипты проекта
script(src="js/main.js")
