.cars
    .cars-block
        #rio.cars-info
            .cars-info__title
                |KIA Rio X-Line
            img.cars-info__img(src="img/rio-xline.jpg", alt="xline")
        .cars-present
            .cars-present-present
                img(src="img/present.png", alt="present").cars-present-present__img

                .cars-present-present__text
                    |Зимняя резина
                    br
                    | в подарок
            .cars-present__text
                |Выгода до 60 000 руб.
            button.cars-present__credit
                |В кредит за 3 500 р./мес.
            a(data-fancybox data-src='#popup' href="#popup")
                button.cars-present__benefit
                    |получить выгоду
            button.cars-present__superpresent
                |спецпредложение
    .cars-block
        #ceed.cars-info
            .cars-info__title
                |KIA Ceed 
                span New
            img.cars-info__img(src="img/ceed.jpg", alt="xline")
        .cars-present
            .cars-present-present
                img(src="img/present.png", alt="present").cars-present-present__img

                .cars-present-present__text
                    |Зимняя резина
                    br
                    | в подарок
            .cars-present__text
                |Выгода до 60 000 руб.
            button.cars-present__credit
                |В кредит за 3 500 р./мес.
            a(data-fancybox data-src='#popup' href="#popup")
                button.cars-present__benefit
                    |получить выгоду
                
            button.cars-present__superpresent
                |спецпредложение
                