.content-red
    .red-header
        img.red-header__logo(src="img/logo_avtoholding.png", alt="logo-avtoholding")
        .red-header-addres
            img.red-header-addres__point(src="img/checkpoint.png", alt="point")
            p.red-header-addres__text
                |Краснодар
                br
                |Тургеневское шоссе, 25
    .red-header-text
        |Только до конца октября 
        br
        span масштабные выгоды 
        p на весь модельный ряд!
    button.red-header-button
        | Забрать выгоду
    .red-header-selection
        p Подберите свой KIA
        .red-header-list
            ul
                li Picanto  
                li Rio
                li Rio X-Line
                li Ceed SW
                li Cerato NEW
                  
            ul
                li Optima NEW
                li Stinger
                li Quoris
                li Soul
                li Spotrage
            ul
                li Sorento 
                li Sorento Prime 
                li Mohave