.contact
    #map.map
    .contact-addres
        .contact-addres__text
            p Контакты
            | Краснодар Тургеневское шоссе, 25
            br
            | +7 (861) 212-34-92
        form(action="#").contact-addres__form
            input(type="tel", name="telephone", placeholder="Введите телефон", class="input-tel")
            input(type="submit", value="заказать звонок")
