.content
    img.content__img(src="img/auto-photo.jpg", alt="auto-photo")

    .content-offer
        |Только до конца октября 
        br
        span масштабные выгоды 
        p на весь модельный ряд!
    a(data-fancybox data-src='#popup' href="#popup")
        button.content-button
            |Забрать выгоду
        

    .content-section
        .content-selection
            .content-selection__title
                p Подберите свой KIA
            .content-selection__list
                ul
                    li 
                        a(href="#rio") Picanto  
                    li 
                        a(href="#rio") Rio
                    li 
                        a(href="#rio") Rio X-Line
                    li 
                        a(href="#rio") Ceed SW
                    li 
                        a(href="#rio") Cerato NEW
                        
                ul
                    li 
                        a(href="#ceed") Optima NEW
                    li 
                        a(href="#ceed") Stinger
                    li 
                        a(href="#ceed") Quoris
                    li 
                        a(href="#ceed") Soul
                    li 
                        a(href="#ceed") Sportage
                ul
                    li 
                        a(href="#rio") Sorento 
                    li 
                        a(href="#rio") Sorento Prime 
                    li 
                        a(href="#rio") Mohave

        .content-credit 
            
            .content-credit__text
                p Супер кредит 0,1%
                br
                |на Kia sportage, stinger, sorento, sorento prime
            form.content-credit__form(action="#")
                input(type="tel", name="telephone", placeholder="Введите телефон", class="content-input-tel")
                input(type="submit", value="получить кредит")


            
