header.header
    .header-addres
        .header-addres__logo
            img(src="img/logo_avtoholding.png", alt="autoholding")
        .header-addres__addres            
            img.header-addres__point(src="img/checkpoint.png", alt="point")
            p.header-addres__text
                |Краснодар
                br
                |Тургеневское шоссе, 25
        button.header-addres__button
            |заказать звонок
    img.header__logo(src="img/logo_kia.png", alt="logo-kia")