doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/font.css")
        
        //- yandex map
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript")

        //- jquery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

        //- fancybox
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")

        //- css style
        link(rel="stylesheet", href="css/main.css")

        title KIA test
        
    body
        .wrap 
            .block-red
            .block-white
                
        .container
            include header
            include content
            include cars
        include contact
        include popup

            script(src="js/map.js")
            script(src="js/script.js")
