.menu
    p.menu-close x
    ul
        li Подбери свой KIA
        li.menu-auto 
            a(href="#rio") Picanto 
        li.menu-auto 
            a(href="#rio") Rio
        li.menu-auto 
            a(href="#ceed") Rio X-Line
        li.menu-auto 
            a(href="#ceed") Ceed SW
        li.menu-auto 
            a(href="#ceed") Cerato NEW
        li.menu-auto 
            a(href="#ceed") Optima NEW
        li.menu-auto 
            a(href="#rio") Stinger
        li.menu-auto 
            a(href="#rio") Quoris
        li.menu-auto 
            a(href="#ceed") Soul
        li.menu-auto 
            a(href="#ceed") Sportage
        li.menu-auto 
            a(href="#ceed") Sorento
        li.menu-auto 
            a(href="#rio") Sorento Prime
        li.menu-auto 
            a(href="#rio") Mohave


