#popup.popup
    
    .popup-content
        form(action="#").popup-form
            p.popup-form__title
                | Получите все выгоды!
            input(type="tel", name="telephone", placeholder="Введите номер", class="popup-tel")
            input(type="submit", value="Получите все выгоды!")
            p.popup-form__angrement
                | Нажав на кнопку "Отправить заявку", я даю согласие на обработку моих персональных данных и получение рекламных предложений. С условиями обработки персональных данных и получения предложений - ознакомлен и согласен.
        img.popup__close(src="img/close.png", alt="close")
