section.photo-view.js_photo_view_popup

    .photo-view-wrapper

        .photo-view__close.js_photo_view_close
            img(src="images/close-photo-view.svg", alt="close")

        .swiper-container.photo-view-swiper

            // Additional required wrapper
            .swiper-wrapper.photo-view-swiper-wrapper

                // Slides
                .swiper-slide.photo-view-swiper-slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»

                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»

                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»
                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»
                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»
                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»
                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»
                .swiper-slide.photo-view-swiper__slide 
                    img(src="images/photo-slider.png", alt="photo")
                    .photo-view-swiper-slide__signature
                        .photo-view-swiper-slide__signature-title 
                            span Участники гонки
                        .photo-view-swiper-slide__signature-name 
                            span © ИА «Чукотка»
                
            // If we need pagination

            .swiper-pagination.photo-view-swiper__pagination
            // If we need navigation buttons

            .swiper-button-prev.photo-view-swiper__prev
            .swiper-button-next.photo-view-swiper__next

            // If we need scrollbar
            //- .swiper-scrollbar
