.header   
   position: relative
   margin-bottom: 45px 
    
   &__logo
      margin-top: 22px

   &__secret
      position: absolute
      top: -22px
      right: -64px

@media (max-width: 600px)
   .header
      &__secret
         right: -5px        

@media (max-width: 455px)
   .header
      &__logo
         margin-top: 80px

      &__secret
         top: -110px