.header   
   position: relative
   margin-bottom: 45px 
    
   &__logo
      margin-top: 22px

   &__secret
      position: absolute
      top: -22px
      right: -64px

@media (max-width: 600px)
   .header

      &__logo
         width: 150px

      &__secret
         right: -5px  
         width: 220px      

@media (max-width: 455px)
   .header
      margin-bottom: 20px

      &__logo
         width: 120px
         
      &__secret
         width: 150px