.slider
    margin-bottom: 38px
    
    &__title
        color: #2f1b15
        font-family: "PT Sans"
        font-size: 24px
        font-weight: 700
        margin-bottom: 28px

    &-container
        position: relative        
        
        & input[type='range']
            position: absolute
            top: 0
            left: -9px
            width: 101.5%
            -webkit-appearance: none
            background-color: transparent
            cursor: pointer

            &::-webkit-slider-thumb 
                -webkit-appearance: none
                background: url(../img/arrow.png) no-repeat
                width: 17px
                height: 14px

            &::-moz-range-thumb
                -webkit-appearance: none
                background: url(../img/arrow.png) no-repeat
                width: 17px
                height: 14px

    &__line
        width: 100%
        padding-top: 18px

    &-text 
        display: flex
        width: 100%
        padding-top: 29px
        color: #2f1b15
        font-family: "PT Sans"
        font-size: 15px
        font-weight: 700
        line-height: 21px
        & p 
            cursor: pointer
            margin: 0

        &-block1
            position: relative
            width: 145px

        &-block1:before
            position: absolute
            left: -1px
            top: -32px
            content: url(../img/line-vertical-big.png)
            
        &-block2
            position: relative
            width: 230px

        &-block2:before
            position: absolute
            left: 3px
            top: -38px 
            content: url(../img/line-vertical-small.png)

        &-block3
            position: relative
            width: 230px

        &-block3:before
            position: absolute
            left: 2px
            top: -38px
            content: url(../img/line-vertical-small.png)
            
        &-block4
            position: relative
            width: 170px
            text-align: right

        &-block4:before
            position: absolute
            right: 0
            top: -32px
            content: url(../img/line-vertical-big.png)
