@font-face {
    font-family: 'Trebuchet MS';
    src: url('TrebuchetMS-Bold.eot');
    src: url('TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('TrebuchetMS-Bold.woff') format('woff'),
        url('TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

