doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        
        title Бабуля

        //- font
        link(rel="stylesheet", href="font/stylesheet.css")

        //- syle css

        link(rel="stylesheet", href="css/main.css")

    body

        include mixin
        
        .main-wrapper

            header.header
                .header-logo
                    span Бабуля

                .header-radiobox
                    
                    label.radiobox(for="flat")
                        input.radiobox__input(type="radio", id="flat", name="choise-housing" checked)
                        span.radiobox__label
                            |Квартиры

                    .header-radiobox__line.line-ipad

                    label.radiobox(for="hause")
                        input.radiobox__input(type="radio", id="hause", name="choise-housing")
                        span.radiobox__label
                            |Дома и дачи

                    .header-radiobox__line
                        

                    label.radiobox(for="commercial")
                        input.radiobox__input(type="radio", id="commercial", name="choise-housing")
                        span.radiobox__label
                            |Коммерческая недвижимость            

            .content

                .content-title
                    span.content-title__text 
                        |Аренда без посредников 
                        span.content-letter-one в
                    .content-title-list
                        span.content-title__text.content-letter-two в
                        span.content-title-list__text
                            |Москве
                        ul.content-title-list__list
                            li.content-title-list__item Москве
                            li.content-title-list__item Московской области
               
                .mobile-slider
                    // Additional required wrapper
                    .mobile-slider__wrapper
                        // Slides
                        .mobile-slider__flat 
                            label.mobile-slider-checkbox(for="mobile-flat")
                                input.mobile-slider-checkbox__input(type="radio", name="mobile-slider", id="mobile-flat" checked)  
                                span.mobile-slider-checkbox__label Квартиры

                        .mobile-slider__hause 
                            label.mobile-slider-checkbox(for="mobile-hause")
                                input.mobile-slider-checkbox__input(type="radio", name="mobile-slider", id="mobile-hause")  
                                span.mobile-slider-checkbox__label Дома и дачи

                        .mobile-slider__commercial 
                            label.mobile-slider-checkbox(for="mobile-commercial")
                                input.mobile-slider-checkbox__input(type="radio", name="mobile-slider", id="mobile-commercial")  
                                span.mobile-slider-checkbox__label Коммерческая недвижимость


                .content-select                    

                    .selectbox

                        .selectbox-container
                            .selectbox-wrap#metro-wrap
                                
                                .selectbox-wrap__title
                                    |метро
                                .selectbox-text
                                    |Все варианты

                            .selectbox-popup.popup-metro
                                ul.popup-metro-list
                                    li.popup-metro-list__item Все варианты
                                    li.popup-metro-list__item Авиамоторная
                                    li.popup-metro-list__item Беляево
                                    li.popup-metro-list__item Калужская
                                    li.popup-metro-list__item Коньково
                                    li.popup-metro-list__item Южная
                                    li.popup-metro-list__item Боровицкая

                        .selectbox-container
                            .selectbox-wrap#flat-wrap

                                .selectbox-wrap__title
                                    |комнат
                                .selectbox-text
                                    |Только 
                                    span#selectbox-text__text
                                        |2, 3, 4+
                            
                            .selectbox-popup.popup-flat
                                
                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="1")
                                    span.popup-flat-checkbox__label 1
                                
                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="2" checked)
                                    span.popup-flat-checkbox__label 2
                                
                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="3" checked)
                                    span.popup-flat-checkbox__label 3

                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="4+" checked)
                                    span.popup-flat-checkbox__label 4+
                       
                        .selectbox-container

                            .selectbox-wrap#price-wrap
                                .selectbox-wrap__title
                                    |стоимость
                                .selectbox-text
                                    | от 
                                    span.selectbox-price__min 25 000
                                    |до
                                    span.selectbox-price__max 35 000
                                    |рублей
                            
                            .selectbox-popup.popup-price
                                .popup-price__content
                                    .popup-price-wrap
                                        span от
                                        .popup-price__input
                                            input.popup-price__min#input-price-min(type="number", name="price-min", placeholder="25 000", max="5")
                                            span.popup-price-min__reset
                                        
                                    .popup-price-wrap
                                        span до
                                        .popup-price__input
                                            input.popup-price__max#input-price-max(type="number", name="price-min", placeholder="0")
                                            span.popup-price-min__reset.popup-price-max__reset
                                        span рублей

                    button.select-button
                        | Найти
                    

            footer.footer
                span 2020. Студия Ракета 

        script(src="js/script.js")