doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- bootstrap
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')


        title Бабуля

        //- swiper
        link(rel="stylesheet", href="css/swiper.min.css")

        //- font
        link(rel="stylesheet", href="font/stylesheet.css")

        //- selectric
        //- link(rel="stylesheet", href="css/selectric.css")

        //- reset css
        //- link(rel="stylesheet", href="css/reset.css")

        //- syle css

        link(rel="stylesheet", href="css/main.css")

    body

        include mixin
        
        .main-wrapper

            header.header
                .header-logo
                    span Бабуля

                .header-radiobox
                    
                    label.radiobox(for="flat")
                        input.radiobox__input(type="radio", id="flat", name="choise-housing" checked)
                        span.radiobox__label
                            |Квартиры

                    .header-radiobox__line.line-ipad

                    label.radiobox(for="hause")
                        input.radiobox__input(type="radio", id="hause", name="choise-housing")
                        span.radiobox__label
                            |Дома и дачи

                    .header-radiobox__line
                        

                    label.radiobox(for="commercial")
                        input.radiobox__input(type="radio", id="commercial", name="choise-housing")
                        span.radiobox__label
                            |Коммерческая недвижимость            

            .content

                .content-title
                    span.content-title__text 
                        |Аренда без посредников 
                        span.content-letter-one в
                    .content-title-list
                        span.content-title__text.content-letter-two в
                        span.content-title-list__text
                            |Москве
                        ul.content-title-list__list
                            li.content-title-list__item Москве
                            li.content-title-list__item Московской области

                    //- select(name="city", size="1").content-title__list
                    //-     option(value="Moscow" selected) Москве
                    //-     option(value="Moscow-region") Московской области
                
                .mobile-slider
                    // Additional required wrapper
                    .swiper-wrapper.mobile-slider__wrapper
                        // Slides
                        .swiper-slide.mobile-slider__flat 
                       
                            label.mobile-slider-checkbox(for="mobile-flat")
                                input.mobile-slider-checkbox__input(type="radio", name="mobile-slider", id="mobile-flat" checked)  
                                span.mobile-slider-checkbox__label Квартиры

                        .swiper-slide.mobile-slider__hause 
                            label.mobile-slider-checkbox(for="mobile-h")
                                input.mobile-slider-checkbox__input(type="radio", name="mobile-slider", id="mobile-h")  
                                span.mobile-slider-checkbox__label Дома и дачи

                        .swiper-slide.mobile-slider__commercial 
                            label.mobile-slider-checkbox(for="mobile-c")
                                input.mobile-slider-checkbox__input(type="radio", name="mobile-slider", id="mobile-c")  
                                span.mobile-slider-checkbox__label Коммерческая недвижимость
                            

                    //- .swiper-button-prev.mobile-slider__prev
                    //- .swiper-button-next.mobile-slider__next
                    
                .content-select                    

                    .selectbox

                        .selectbox-container
                            .selectbox-wrap#metro-wrap
                                
                                .selectbox-wrap__title
                                    |метро
                                .selectbox-text
                                    |Все варианты

                            .selectbox-popup.popup-metro
                                ul.popup-metro-list
                                    li.popup-metro-list__item Все варианты
                                    li.popup-metro-list__item Авиамоторная
                                    li.popup-metro-list__item Беляево
                                    li.popup-metro-list__item Калужская
                                    li.popup-metro-list__item Коньково
                                    li.popup-metro-list__item Южная
                                    li.popup-metro-list__item Боровицкая

                        .selectbox-container
                            .selectbox-wrap#flat-wrap

                                .selectbox-wrap__title
                                    |комнат
                                .selectbox-text
                                    |Только
                            
                            .selectbox-popup.popup-flat
                                
                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="1")
                                    span.popup-flat-checkbox__label 1
                                
                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="2" checked)
                                    span.popup-flat-checkbox__label 2
                                
                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="3" checked)
                                    span.popup-flat-checkbox__label 3

                                label.popup-flat-checkbox
                                    input.popup-flat-checkbox__input#flat-checkbox(type="checkbox", name="flat", value="4+" checked)
                                    span.popup-flat-checkbox__label 4+
                       
                        .selectbox-container

                            .selectbox-wrap#price-wrap
                                .selectbox-wrap__title
                                    |стоимость
                                .selectbox-text
                                    | от 
                                    span.selectbox-price__min 25 000
                                    |до
                                    span.selectbox-price__max 35 000
                                    |рублей
                            
                            .selectbox-popup.popup-price
                                .popup-price__content
                                    .popup-price-wrap
                                        span от
                                        .popup-price__input
                                            input.popup-price__min#input-price-min(type="number", name="price-min", placeholder="25 000", max="5")
                                            span.popup-price-min__reset
                                        
                                    .popup-price-wrap
                                        span до
                                        .popup-price__input
                                            input.popup-price__max#input-price-max(type="number", name="price-min", placeholder="0")
                                            span.popup-price-min__reset.popup-price-max__reset
                                        span рублей



                    button.select-button
                        | Найти
                    

            footer.footer
                span 2020. Студия Ракета 
        
        //- script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')

        //- script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')

        //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
        


        //- selectric
        script(src="js/jquery.selectric.min.js")

        //- swiper
        script(src="js/swiper.min.js")
        
        script(src="js/script.js")