.comment
    .container

        .comment-title
            | Мои отзывы о товарах

        .comment-attention
            
            img.comment-attention__img(src="img/attention.png", alt="attention")    

            .comment-attention__text
                | Ваши отзывы будут опубликованы на сайте после проверки модератором.

        .comment-heading
            .row
                .col-1
                    p.comment-heading__text Фото
                .col-2
                    |Наименование товара
                .col-5
                    |Ваши отзывы
                .col-2
                    |Статус отзыва
                .col-2
                    |Действия

        .comment-comment
            .row
                .col-sm-12.col-md-1
                    img.comment-comment__img(src="img/drill.png", alt="drill")

                .col-sm-12.col-md-2
                    p.comment-comment__name
                        |Дрель ударная BOSCH PSB 550 RЕ, БЗП Арт.0603130020

                .col-sm-12.col-md-5.comment-user
                    img.comment-user__rating(src="img/rating.png", alt="rating")
                    .comment-user__grade
                        p Впечатление: 
                            span 5

                        p Соответствие: 
                            span 4

                        p Надёжность: 
                            span 5

                    .comment-user__text
                        p Значит купил я данную модель, поработал неделю, отказал   один аккумулятор, заряд держит так себе, НОООООО МАГАЗИН АДЕКВАТНЫЙ, ОБМЕНЯЛИ НА НОВЫЙ, ПРИЧЁМ ПРИВЕЗЛИ ДОМОЙ. С ТАКИМ ПРОДАВЦОМ ПРИЯТНО
                            span#dots ...
                            span#more Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci enim sit nemo ullam eum voluptate quae in delectus ab hic similique non, vitae doloribus provident pariatur temporibus asperiores porro dolore!

                        button.btn.detail Подробнее 
                            img(src="img/arrow.png", alt="arrow")

                        button.btn.hide Скрыть 
                            img(src="img/arrow-top.png", alt="arrow")                    

                .col-sm-12.col-md-2.comment-status
                    button.comment-status__btn опубликован

                    .comment-status__text
                        | 1 августа, 2018
                    
                .col-sm-12.col-md-2.comment-action
                    button.comment-action__button
                        |Дополнить отзыв
        
            .comment-additional
                .row
                    .col-md-3
                    .col-md-9
                        .additional-line

                .row
                    .col-md-3                    
                    .col-md-5.additional-comment
                        .additional-comment__title
                            |Дополненный отзыв
                        .additional-comment__text
                            |Год прошел, работает как пушка!
                        .additional-comment-img
                            img.additional-comment-img__one(src="img/drill-1.png", alt="drill-1")
                            img.additional-comment-img__two(src="img/drill-2.png", alt="drill-1")

                    .col-md-2.additional-status
                        button.additional-status__btn
                            |на модерации
                        .additional-status__text
                            |19 августа, 2018
                    .col-md-2

                .popup-img-one
                    p.popup-img-one__close
                        |X
                    img.popup-img-one__img(src="img/drill-1.png", alt="drill-1")

                .popup-img-two
                    p.popup-img-two__close
                        |X
                    img.popup-img-two__img(src="img/drill-2.png", alt="drill-1")

        .comment-mobile
            .mobile-status                

                .comment-status__text
                    | 1 августа, 2018
                    
                button.comment-status__btn опубликован

            .mobile-name

                img.comment-comment__img(src="img/drill.png", alt="drill")
                p.comment-comment__name
                        |Дрель ударная BOSCH PSB 550 RЕ, БЗП Арт.0603130020

            img.comment-user__rating(src="img/rating.png", alt="rating")
            .comment-user__grade
                        p Впечатление: 
                            span 5

                        p Соответствие: 
                            span 4

                        p Надёжность: 
                            span 5

            .comment-user__text
                p Значит купил я данную модель, поработал неделю, отказал   один аккумулятор, заряд держит так себе, НОООООО МАГАЗИН АДЕКВАТНЫЙ, ОБМЕНЯЛИ НА НОВЫЙ, ПРИЧЁМ ПРИВЕЗЛИ ДОМОЙ. С ТАКИМ ПРОДАВЦОМ ПРИЯТНО
                    span#dots-mobile ...
                    span#more-mobile Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci enim sit nemo ullam eum voluptate quae in delectus ab hic similique non, vitae doloribus provident pariatur temporibus asperiores porro dolore!

                button.btn.detail-mobile Подробнее 
                    img(src="img/arrow.png", alt="arrow")

                button.btn.hide-mobile Скрыть 
                    img(src="img/arrow-top.png", alt="arrow")

            button.comment-action__button
                |Дополнить отзыв

            .mobile-additional

                .additional-comment__title
                    |Дополненный отзыв
                .mobile-additional-status
                    .comment-status__text
                        | 1 августа, 2018
                    
                    button.comment-status__btn опубликован

                img.comment-user__rating(src="img/rating.png", alt="rating")
                .comment-user__grade
                    p Впечатление: 
                        span 5

                    p Соответствие: 
                        span 4

                    p Надёжность: 
                        span 5

                .additional-comment__text
                    |Год прошел, работает как пушка!

                .mobile-comment-img
                    img.mobile-comment-img__one(src="img/drill-1.png", alt="drill-1")
                    img.mobile-comment-img__two(src="img/drill-2.png", alt="drill-1")

                    .popup-mobile-one
                        p.popup-mobile-one__close
                            |X
                        img.popup-mobile-one__img(src="img/drill-1.png", alt="drill")

                    .popup-mobile-two
                        p.popup-mobile-two__close
                            |X
                        img.popup-mobile-two__img(src="img/drill-2.png", alt="drill")

        .comment-notpublished 
            .row
                .col-md-1
                    img.notpublished__img(src="img/screen.png", alt="screen")

                .col-md-2
                    p.notpublished__name
                        |Декоративный металлический экран на радиатор 3-х секционный 3 ДМЭР

                .col-md-5
                    .notpublished__text
                        p К сожалению, ваш отзыв не прошёл модерацию.
                        

                .col-md-2.notpublished-status
                    button.notpublished-status__btn Не опубликован

                    .notpublished-status__text
                        | 1 августа, 2018
                    
                .col-md-2.

        .comment-mobile-notbublished
            .mobile-notpublished-status               

                .notpublished-status__text
                    | 1 августа, 2018

                button.notpublished-status__btn Не опубликован

            .mobile-notpublished-name
                img.notpublished__img(src="img/screen.png", alt="screen")

                p.notpublished__name
                    |Декоративный металлический экран на радиатор 3-х секционный 3 ДМЭР
                
            .notpublished__text
                p К сожалению, ваш отзыв не прошёл модерацию.