@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro.eot');
	src: local('../font/DIN Pro'), local('DINPro'),
		url('../font/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro.woff') format('woff'),
		url('../font/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.eot');
    src: local('../font/Gilroy Bold'), local('Gilroy-Bold'),
        url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Bold.woff') format('woff'),
        url('../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}