doctype html
html(lang="ru-RU")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- bootstrap
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")

        //- font Fira Sans
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&display=swap")

        //- style css
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/font.css")
        link(rel="stylesheet", href="css/main.css")

        title Rocket_test
        
    body
        .wrapper

            .row.mortgage-big-calc-wrapper#mortgage-calc-wrapper

                .col-lg-3.mortgage-header-text
                    |Параметры кредитования
                
                .col-lg-3.input-test
                    
                    .input-test-wrapper

                        .input-test__text
                            |Стоимость квартиры, руб:
                        
                        output.input-test__number(name="price", for='rng', id="price")
                            |3 800 000 

                        input.input-test__range#price-range(type="range", min="2700000", max="6200000", value="3800000")                   

                .col-lg-3.input-test

                    .input-test-wrapper
                    
                        .input-test__text
                            |Первоначальный взнос, руб:

                        .input-test__number
                            span#contribution-price
                                |760 000

                            span.input-test__procent#contribution-procent
                                |20%
                        
                        input.input-test__range#contribution-range(type="range", min="300000", max="5000000", value="700000")

                .col-lg-3.input-test

                    .input-test-wrapper
                        .input-test__text
                            |Срок, лет:

                        .input-test__number#years-number
                            |5
                        
                        input.input-test__range#years-range(type="range", min="1", max="30", value="7")

            .mortgage-banks-grid-wrapper#mortgage-banks-grid-wrapper

                .mortgage-single-bank(style="background-color: #13B75F", data-rate="9.3", data-vznos="20")                
                
                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/sberbank-1.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/sberbank-color.svg", alt="logo")
                            
                        .mortgage-bank-rate
                            |9.3%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |362 415 
                            | &#8381                            

                .mortgage-single-bank(style="background-color: #009FDF" data-rate="8.6" data-vznos="20")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/vtb.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/vtb-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |8.6%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381 

                .mortgage-single-bank(style="background-color: #009C32" data-rate="7.99" data-vznos="20")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/akb-bars.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/akb-bars-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |7.99%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381 

                .mortgage-single-bank(style="background-color: #BB0032" data-rate="8.15" data-vznos="15")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/mkb.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/mkb-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |8.15%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381 

                .mortgage-single-bank(style="background-color: #23353E" data-rate="7.3" data-vznos="20")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/dom-rf.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/domrf-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |7.3%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381

                .mortgage-single-bank(style="background-color: #1E4679" data-rate="8.5" data-vznos="20")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/bank-vozrozhdenie.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/bank-vozrozhdenie-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |8.5%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381

                .mortgage-single-bank(style="background-color: #245F34" data-rate="10" data-vznos="15")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/rosselhozbank.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/rosselhoz-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |10%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381

                .mortgage-single-bank(style="background-color: #2B2C84" data-rate="9.1" data-vznos="15")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/psb.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/psb-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |9.1%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381

                .mortgage-single-bank(style="background-color: #00AAA9" data-rate="8.49" data-vznos="40")

                    .mortgage-bank-upper-info
                        .mortgage-bank-logo
                            img.mortgage-bank-logo__white(src="img/transkapitalbank.svg", alt="logo")
                            img.mortgage-bank-logo__color(src="img/transkapital-color.svg", alt="logo")
                        .mortgage-bank-rate
                            |8.49%

                    .mortgage-bank-lower-info
                        .calculated-payment-caption
                            | ежемесячный
                            br
                            | платеж

                        .calculated-payment
                            span#calculated-payment-amount
                                |48 296 
                            | &#8381


        //- bootstrap
        
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")

        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")

        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")

        script(src="js/script.js")