.main
    overflow: hidden

    &-header
        position: relative
        display: flex
        justify-content: space-between
        padding-top: 19px
        text-transform: uppercase      
        margin-bottom: 35px     
        z-index: 100 
        @media(min-width: 1200px) 
            padding-top: 46px
            margin-bottom: 72px   

        & span 
            font-weight: 700
            margin-right: 20px
            white-space: nowrap

        &__link 
            position: relative
            display: none
            @media(min-width: 1200px) 
                position: relative
                display: inline-block
                z-index: 100

            & a 
                white-space: nowrap

                &:nth-child(1)
                    margin-right: 40vw

                &:nth-child(2)
                    margin-right: 70px

                &:nth-child(3)
                    margin-right: 168px

            &-shared
                position: relative
                display: inline-block
                width: 90px
                cursor: pointer
                z-index: 100

                &.active

                    & .main-header__link-shared-popup
                        opacity: 1
                        pointer-events: auto

                &-popup
                    position: absolute
                    width: 130px
                    top: 30px
                    right: 0
                    border: 1px solid #BDBDBD
                    padding: 13px 22px
                    opacity: 0
                    transition: all 0.3s
                    pointer-events: none
                    z-index: 100

                    & .main-header__link-shared
                        display: none

                    & a 
                        display: inline-block
                        width: 100%
                        font-size: 18px
                        line-height: 18px
                        letter-spacing: -0.02em
                        text-decoration-line: underline
                        text-align: right
                        cursor: pointer

                        &:not(:last-child)
                            margin-bottom: 10px
                            
        &__burger
            @media(min-width: 1200px) 
                display: none

    &-quote 
        max-width: 335px
        text-transform: uppercase
        margin-bottom: 50px
        @media(min-width: 1200px) 
            margin-bottom: 180px

        & p 
            margin-bottom: 20px
            @media(min-width: 1200px) 
                margin-bottom: 10px

        & span 
            display: inline-block
            width: 100%
            text-align: right

    &-baner 
        position: relative
        margin-bottom: 80px
        @media(min-width: 1200px) 
            padding-left: 20vw
            margin-bottom: 154px

        & span 
            display: inline-block
            width: 100%
            @media(min-width: 1200px) 
                width: calc(100% - 20vw)

            &:nth-child(1)
                font-size: 22px
                margin-bottom: 20px
                @media(min-width: 1200px) 
                    font-size: 67px
                    line-height: 67px
                    margin-bottom: 52px

            &:nth-child(2)
                font-size: 45px
                line-height: 100%
                text-align: center
                @media(min-width: 700px) 
                    font-size: 150px
                @media(min-width: 1200px) 
                    line-height: 218px
                    padding-left: 50px
                @media(min-width: 1350px) 
                    padding-left: 140px

            &:nth-child(3)
                font-size: 45px
                line-height: 100%
                text-align: right
                margin-bottom: 50px
                @media(min-width: 700px) 
                    font-size: 150px                    
                @media(min-width: 1200px) 
                    font-size: 218px
                    padding-right: 90px
                    margin-bottom: 98px

        & a 
            display: inline-block
            width: 100%
            text-align: right
            @media(min-width: 1200px) 
                width: calc(100% - 20vw)

        &__img
            display: none
            @media(min-width: 1200px) 
                display: inline-block
                position: absolute
                top: 0
                left: -143px
                width: 568px
                height: 568px

    &-skill
        position: relative
        margin-bottom: 80px
        font-size: 16px
        @media(min-width: 1200px) 
            margin-bottom: 219px
            font-size: 20px

        &__title
            width: 100%
            display: inline-block
            margin-bottom: 30px
            text-align: center
            font-size: 20px
            @media(min-width: 1200px) 
                position: absolute
                width: auto
                top: 0
                left: -90px
                transform: rotate(-90deg)
                font-size: 36px
                margin-bottom: 0

        &__top
            display: flex
            flex-direction: column
            margin-bottom: 50px
            @media(min-width: 900px) 
                justify-content: space-between
                flex-direction: row
                margin-bottom: 48px
            @media(min-width: 1200px) 
                padding-left: 30%

            &-wrap
                width: 100%
                @media(min-width: 900px) 
                    width: 404px

                &:nth-child(2)
                    @media(max-width: 900px) 
                        text-align: right
                        margin-top: 60px


                & span 
                    display: inline-block
                    width: 100%
                    margin-bottom: 5px

        &__and
            display: flex
            width: 100%
            padding-left: 20%
            font-size: 141px
            line-height: 100%
            text-transform: uppercase
            color: #9225FF
            margin-bottom: 50px
            @media(min-width: 900px) 
                padding-left: 0
                justify-content: center
            @media(min-width: 1200px) 
                margin-bottom: 150px
                font-size: 289px
                line-height: 100%                

        &__bottom
            display: flex
            flex-wrap: wrap
            @media(min-width: 900px) 
                justify-content: space-between
            @media(min-width: 1200px) 
                padding-left: 30%

            &-wrap
                width: 100%
                @media(min-width: 900px) 
                    display: flex
                    justify-content: space-between
                    width: 404px

                &:nth-child(1)
                    @media(max-width: 900px)
                        margin-bottom: 60px

                &:nth-child(2)
                    text-align: right

                & span
                    @media(max-width: 900px)
                        display: inline-block
                        width: 100%  

    &-list 

        & .wrap-content
            display: flex
            flex-direction: column
            @media(min-width: 900px) 
                justify-content: space-between
                flex-direction: row

        & ul 

            & li 
                margin-bottom: 10px
                @media(min-width: 1200px) 
                    margin-bottom: 6px

            &:nth-child(2)
                @media(max-width: 900px) 
                    margin-top: 60px

                & li 
                    text-align: right

    &-works 
        position: relative
        padding-top: 80px
        @media(min-width: 1200px) 
            padding-top: 242px

        &__star
            position: absolute
            width: 100px
            height: 100px
            right: 20px
            top: 223px
            @media(min-width: 1200px) 
                width: 260px
                height: 260px
                top: 20px
                right: 20%

        &__title
            font-size: 20px
            text-align: center
            margin-bottom: 30px
            @media(min-width: 1200px) 
                position: absolute
                top: 250px
                left: 0
                transform: rotate(-90deg)
                font-size: 36px
                text-align: left

        &__about
            position: relative
            display: inline-block
            max-width: 444px
            left: 50%
            transform: translateX(-50%)
            margin-bottom: 172px
            font-size: 16px
            line-height: 130%
            @media(min-width: 1200px) 
                position: static
                margin-bottom: 217px
                margin-left: 30%
                font-size: 20px
                line-height: 130%                

        & ul 

            & li 
                position: relative
                border-top: 1px solid #1D1D1D
                padding-left: 20px
                padding-right: 20px
                @media(min-width: 1200px) 
                    padding-left: 50px
                    padding-right: 50px
                

                &:last-child
                    border-bottom: 1px solid #1D1D1D

                &:hover

                    & img 
                        @media(min-width: 1200px) 
                            opacity: 1
                            transition: all 0.3s

                & a 
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding-top: 15px
                    padding-bottom: 15px
                    @media(min-width: 1200px) 
                        padding-top: 96px
                        padding-bottom: 96px

                    & .name 
                        font-size: 18px
                        line-height: 18px
                        @media(min-width: 1200px) 
                            font-size: 48px
                            line-height: 120%

                    & .descr 
                        display: flex
                        flex-direction: column

                        & span 
                            text-align: right
                            @media(max-width: 1200px) 
                                font-size: 10px
                                line-height: 150%

                            &:nth-child(1)
                                margin-bottom: 5px
                                @media(min-width: 1200px) 
                                    margin-bottom: 20px

                &:nth-child(1),
                &:last-child

                    & .name
                        position: relative

                        & span 
                            position: relative
                            z-index: 10

                        &::before 
                            content: ""
                            display: inline-block
                            position: absolute
                            width: 244px
                            height: 30px  
                            top: -5px
                            left: -60px
                            background-repeat: no-repeat
                            background: radial-gradient(50% 50% at 50% 50%, rgba(146, 37, 255, 0.5) 31.34%, rgba(146, 37, 255, 0) 100%)
                            filter: blur(5.66406px)
                            z-index: 1
                            @media(min-width: 1200px) 
                                width: 1000px
                                height: 128px
                                top: -35px
                                left: -300px
                                background: radial-gradient(50% 50% at 50% 50%, rgba(146, 37, 255, 0.5) 31.34%, rgba(146, 37, 255, 0) 100%)
                                filter: blur(25.1346px)


                & img
                    position: absolute
                    width: 740px
                    height: 420px
                    object-fit: contain
                    top: -100px
                    left: 50%
                    transform: translateX(-50%)
                    z-index: 50
                    opacity: 0
                    pointer-events: none
                    transition: all 0.3s

    &-about 
        position: relative
        padding-top: 80px
        @media(min-width: 1200px) 
            padding-top: 782px

        &__star
            position: absolute
            top: 120px
            left: calc(15% - 33px)
            width: 66px
            height: 66px
            @media(min-width: 800px) 
                left: calc(40% - 33px)
            @media(min-width: 1200px) 
                top: 502px
                left: 15%
                width: 260px
                height: 260px

        &__title
            text-align: center
            font-size: 20px
            line-height: 100%
            letter-spacing: -0.02em
            margin-bottom: 116px
            @media(min-width: 1200px) 
                position: absolute
                text-align: left
                transform: rotate(-90deg)
                font-size: 36px
                line-height: 100%
                margin-bottom: 0

        &__text 
            position: relative
            width: 280px
            left: 50%
            transform: translateX(-50%)
            font-size: 35px
            line-height: 49px
            letter-spacing: -0.02em
            text-transform: uppercase
            color: #000000
            @media(min-width: 1200px) 
                left: auto
                transform: translateX(0)
                width: 1000px
                font-size: 100px
                line-height: 153px
                letter-spacing: -0.02em
                margin-left: 15%            
            @media(min-width: 1300px) 
                margin-left: 20%
            @media(min-width: 1600px) 
                margin-left: 35%

            & span 
                display: inline-block
                width: 100%

            & mark 
                background: transparent
                color: #9225ff
                padding-left: 55px
                @media(min-width: 1200px) 
                    padding-left: 150px

            &-img
                position: relative
                width: 280px
                height: 295px
                object-fit: cover
                margin-top: 20px
                @media(min-width: 1200px) 
                    position: absolute
                    top: -40%
                    right: 0
                    width: 537px
                    height: 567px     
                    margin-top: 0           

                &::after
                    content: ""
                    position: absolute
                    display: inline-block
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background-image: url(../img/photo-bg.png)

                & img 
                    width: 100%
                    height: 100%
                    object-fit: cover
                
    &-contact
        position: relative
        padding-top: 264px
        padding-bottom: 35px
        @media(min-width: 1200px) 
            padding-top: 240px
            padding-bottom: 93px


        &__img
            display: none
            @media(min-width: 1200px) 
                display: inline-block
                position: absolute
                top: -200px
                right: 0

            &-mobile
                position: absolute
                top: 40px
                left: 50%
                transform: translateX(-50%)
                @media(min-width: 1200px) 
                    display: none

        &__title
            text-transform: uppercase
            color: #1D1D1D
            text-align: center
            margin-bottom: 30px
            font-weight: 400
            font-size: 20px
            line-height: 100%
            @media(min-width: 1200px) 
                position: absolute
                top: 0
                left: 45px
                transform: rotate(-90deg)
                font-size: 36px
                line-height: 100%
                letter-spacing: -0.02em

        &__cnt
            display: flex
            align-items: center
            flex-direction: column
            @media(min-width: 1200px) 
                justify-content: space-between
                flex-direction: row
                align-items: flex-start
                padding-left: 50px
                padding-right: 50px
            @media(min-width: 1400px) 
                padding-right: 240px

        &__name
            display: none
            @media(min-width: 1200px) 
                display: inline-block
                font-weight: 700
                font-size: 16px
                line-height: 130%
                text-transform: uppercase
                color: #1D1D1D

        &__write
            display: inline-block
            width: 100%
            margin-bottom: 30px
            padding-left: 20px
            padding-right: 20px            
            @media(min-width: 460px) 
                width: 410px
                padding-left: 0
                padding-right: 0                
            @media(min-width: 1200px) 
                margin-bottom: 0

            & span 
                display: inline-block
                width: 100%
                margin-bottom: 27px
                font-weight: 400
                font-size: 16px
                line-height: 130%
                color: #1D1D1D
                text-transform: none
                @media(min-width: 1200px) 
                    margin-bottom: 33px

            & a 
                position: relative
                display: inline-block
                width: 100%
                padding-bottom: 12px
                border-bottom: 1px solid #1D1D1D
                font-weight: 400
                font-size: 12px
                line-height: 12px
                color: #1D1D1D
                text-transform: none

                &::after
                    content: ""
                    position: absolute
                    display: inline-block
                    top: 7px
                    right: 0
                    width: 17px
                    height: 12px
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5263 5.48669L0.0277104 5.48669V6.51086L14.5253 6.51086L9.96838 11.0677L10.6926 11.7919L16.4862 5.99836L16.486 5.99817L16.4861 5.99805L10.6925 0.204467L9.96831 0.928665L14.5263 5.48669Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A")

        &__link 
            display: flex            
            @media(max-width: 1200px) 
                width: 405px
                justify-content: space-between
            @media(max-width: 460px)
                width: 100%
                padding-left: 20px
                padding-right: 20px 

            &-wrap
                display: flex
                flex-direction: column

                &:nth-child(1)
                    margin-right: 150px

                &:nth-child(2)

                    & a 
                        text-decoration: underline

                & a 
                    font-weight: 400
                    font-size: 18px
                    line-height: 18px
                    color: #1D1D1D

                    &:not(:last-child)
                        margin-bottom: 10px
                        





